{% render 'material-icon', icon: 'favorite' %}
{% if settings.dbtfy_wish_list_show_count %}
  <dbtfy-wishlist-count class="dbtfy-wishlist-bubble">
    <element-animator
      data-enabled="{{settings.dbtfy_wish_list_bubble_animation_enabled}}"
      data-animation="dbtfy-element-animation-{{settings.dbtfy_wish_list_bubble_animation_type}}"
      data-interval="{{ settings.dbtfy_wish_list_bubble_animation_interval }}"
      data-duration="{{ settings.dbtfy_wish_list_bubble_animation_duration }}"
      data-selector=".wishlist-count-bubble"
      data-dependency="wishlist"
    >
      <div class="wishlist-count-bubble dbtfy-bubble dbtfy-bubble--{{ settings.dbtfy_wish_list_bubble_position }} dbtfy-bubble--{{ settings.dbtfy_wish_list_bubble_size }}">
        <span>0</span>
      </div>
    </element-animator>
  </dbtfy-wishlist-count>
{% endif %}
