{% style %}
  .dbtfy-back-in-stock .newsletter-form {
    max-width: 100%;
  }
{% endstyle %}

{% liquid
  assign product_url = shop.url | append: product.selected_or_first_available_variant.url
  assign product_name = product.title | append: ' - ' | append: product.selected_or_first_available_variant.title
  assign is_product_available = product.selected_or_first_available_variant.available
%}

<dbtfy-back-in-stock
  class="dbtfy-back-in-stock debutify-handler {% if product.selected_or_first_available_variant.available %}hidden{% endif %}"
  data-product-name="{{ product_name }}"
  data-is-product-available="{{ is_product_available }}"
>
  <element-animator
    data-enabled="true"
    data-selector="button"
  >
    <div {{ block.shopify_attributes }}>
      {% form 'customer', class: 'newsletter-form', return_to: product_url %}
        <input type="hidden" name="contact[tags]" value="back-in-stock">
        <div
          class="newsletter-form__field-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          <div class="field">
            <input
              id="NewsletterForm--{{ section.id }}"
              type="email"
              name="contact[email]"
              class="field__input"
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                autofocus
                aria-invalid="true"
                aria-describedby="Newsletter-error--{{ section.id }}"
              {% elsif form.posted_successfully? %}
                aria-describedby="Newsletter-success--{{ section.id }}"
              {% endif %}
              placeholder="{{ 'newsletter.label' | t }}"
              required
            >
            <label class="field__label" for="NewsletterForm--{{ section.id }}"></label>
          </div>

          <input type="hidden" name="challenge" value="false">
          <input
            type="hidden"
            name="contact[body]"
            class="body_message"
          >

          <button
            type="submit"
            class="button w-full"
            name="commit"
            id="Subscribe"
          >
            <span>
              {% render 'material-icon', icon: '' %}
            </span>
          </button>
          {%- if form.errors -%}
            <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
              <span class="svg-wrapper">
                {{- 'icon-error.svg' | inline_asset_content -}}
              </span>
              {{- form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email -}}
            </small>
          {%- endif -%}
        </div>
        {%- if form.posted_successfully? -%}
          <h3
            class="newsletter-form__message newsletter-form__message--success form__message"
            id="Newsletter-success--{{ section.id }}"
            tabindex="-1"
            autofocus
          >
            <span class="svg-wrapper">
              {{- 'icon-success.svg' | inline_asset_content -}}
            </span>
            <span class="success_message"></span>
          </h3>
        {%- endif -%}
      {% endform %}
    </div>
  </element-animator>
</dbtfy-back-in-stock>
