{% comment %}
  {% render 'dbtfy-featured-article',
    block ---- Block value for the block.shopify_attributes
    heading ---- Heading value for the heading
    subheading ----  Subheading value for the subheading
    artical ---- Artical value for the artical show
    desktop-width ---- Desktop width value for the desktop width
    tablet-width ---- Tablet width value for the tablet width
    block ---- Block value for the block
  %}
{% endcomment %}
<div
  class="grid--{{desktop-width}}-col-desktop grid--{{tablet-width}}-col-tablet grid--12-col"
  {{ block }}
>
  <div>
    {% if heading != blank or subheading != blank %}
      <div class="dbtfy-footer-heading">
        {% if heading != blank %}
          <h2 class="dbtfy-block__heading inline-richtext">{{ heading }}</h2>
        {% endif %}
        {% if subheading != blank %}
          <h4 class="dbtfy-block__subheading inline-richtext">{{ subheading }}</h4>
        {% endif %}
      </div>
    {% endif %}
    <div>
      {% render 'article-card',
        blog: artical,
        article: article,
        media_aspect_ratio: 'inherit',
        show_image: true,
        show_date: true,
        show_author: true,
        show_excerpt: true
      %}
    </div>
  </div>
</div>
