{% if settings.dbtfy_delivery_date %}
  {%- render 'widget-settings', key: 'dbtfy-delivery-date', settings: block.settings -%}
  {{ 'dbtfy-delivery-date.css' | asset_url | stylesheet_tag: preload: true }}

  <div class="cart-block" {{ block.shopify_attributes }}>
    {{ settings.dbtfy_delivery_label_icon }}
    <dbtfy-cart-delivery-calendar
      data-heading="{{ settings.dbtfy_delivery_date_heading }}"
      data-exclude-days="{{ settings.dbtfy_delivery_date_exclude_days }}"
    >
      {{ settings.dbtfy_cart_discount_label_icon }}
      <div class="dbtfy-delivery-date" {{ block.shopify_attributes }}>
        <details id="Details-{{block.id}}">
          <summary>
            <div class="dbtfy-gap-5 flex flex-row">
              <span class="delivery-label-icon">
                {%- render 'material-icon', icon: block.settings.dbtfy_delivery_label_icon %}
              </span>
              <span class="summary__title">
                <span>{{- block.settings.dbtfy_delivery_date_heading -}}</span>
                <small class="dbtfy-cart-delivery-calendar-show"></small>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </div>
          </summary>

          <div class="dbtfy-cart-delivery-calendar">
            <div class="dbtfy-calendar content-container"></div>
            <h3 class="dbtfy-date"></h3>
          </div>
        </details>
      </div>
    </dbtfy-cart-delivery-calendar>
  </div>

  <script src="{{ 'dbtfy-delivery-date.js' | asset_url }}" defer></script>
{% endif %}

{% schema %}
{
  "name": "t:sections.cart-drawer.blocks.cart-delivery-date.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.cart-drawer.blocks.cart-delivery-date.info"
    },
    {
      "type": "text",
      "id": "dbtfy_delivery_label_icon",
      "label": "t:general.settings.icon",
      "default": "t:blocks.dbtfy-delivery-date.settings.dbtfy_delivery_label_icon.default",
      "info": "t:sections.all.icon.info"
    },
    {
      "type": "inline_richtext",
      "id": "dbtfy_delivery_date_heading",
      "label": "t:general.settings.heading",
      "default": "t:blocks.dbtfy-delivery-date.name"
    },
    {
      "type": "inline_richtext",
      "id": "dbtfy_delivery_date_exclude_days",
      "label": "t:blocks.dbtfy-delivery-date.settings.exclude_days.label",
      "default": "t:blocks.dbtfy-delivery-date.settings.exclude_days.default",
      "info": "t:blocks.dbtfy-delivery-date.settings.exclude_days.info"
    },
    {
      "type": "checkbox",
      "id": "dbtfy_delivery_date_required_checkout",
      "label": "t:blocks.dbtfy-delivery-date.settings.required_checkout.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.cart-drawer.blocks.cart-delivery-date.name"
    }
  ]
}
{% endschema %}
