<li class="{{ block.id }}" {{ block.shopify_attributes }}>
  {% style %}
  .{{ block.id }} i.material-icon {
    font-size: {{ block.settings.icon_height_on_mobile }}px;
    display: inline-block;
    margin: 1px;
    line-height: 1.2;
    vertical-align: middle;
    overflow: visible;
    transform: translateY(-2px);
  }
  @media (min-width: 768px) {
    .{{ block.id }} i.material-icon {
      font-size: {{ block.settings.icon_height_on_desktop }}px;
    }
  }
  .{{ block.id }} i.material-icon::before,
  .{{ block.id }} i.material-icon::after {
    display: inline-block;
    line-height: inherit;
    vertical-align: inherit;
    transform: translateY(-2px);
  }
  {% endstyle %}

  {%- render 'material-icon', icon: block.settings.icon -%}
</li>


{% schema %}
{
  "name": "t:sections.dbtfy-scrolling-banner.block.icon.label",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "label": "t:sections.dbtfy-scrolling-banner.block.icon.label",
      "id": "icon",
      "default": "t:sections.dbtfy-scrolling-banner.block.icon.default",
      "info": "t:sections.all.icon.info"
    },
    {
      "type": "range",
      "label": "t:sections.dbtfy-scrolling-banner.block.icon.desktop_size",
      "id": "icon_height_on_desktop",
      "default": 30,
      "min": 16,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "t:sections.dbtfy-scrolling-banner.block.icon.mobile_size",
      "id": "icon_height_on_mobile",
      "default": 30,
      "min": 16,
      "max": 100,
      "step": 1,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "t:sections.dbtfy-scrolling-banner.block.icon.label"
    }
  ]
}
{% endschema %}
