<div
  class="dbtfy-guarantee__box dbtfy-guarantee__box--{{ section.settings.text_alignment }} dbtfy-guarantee__box--{{ section.settings.text_alignment_mobile }} grid__item scroll-trigger animate--slide-in"
  {{ block.shopify_attributes }}
>
  <div
    class="dbtfy-guarantee--card__info color-{{ block.settings.custom_color_scheme }} dbtfy-color-{{ block.settings.color_scheme }} gradient"
  >
    <div>
      {% content_for 'blocks' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.guarantee.name",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "_icon"
    },
    {
      "type": "_title"
    },
    {
      "type": "_subtitle"
    },
    {
      "type": "_description"
    },
    {
      "type": "_single_button"
    },
    {
      "type": "_image"
    }
  ],
  "presets": [
    {
      "name": "t:sections.guarantee.name",
      "blocks": [
        {
          "type": "_icon",
          "settings": { "icon": "lock", "size": "medium", "alignment": "text-center" }
        },
        {
          "type": "_title",
          "settings": { "title": "Our guarantee", "size": "h5", "alignment": "text-center" }
        },
        {
          "type": "_description",
          "settings": {
            "description": "<p>Share your guarantees with your customers.</p>",
            "alignment": "text-center"
          }
        }
      ]
    }
  ]
}
{% endschema %}
