{%- liquid
  assign label = block.settings.label
  assign label_handleized = label | handleize
  assign is_required = block.settings.required
  assign show_at_checkout = block.settings.show_at_checkout
  assign property_value = label

  unless show_at_checkout
    assign property_value = label | prepend: '_'
  endunless
-%}

{%- capture enable_products -%}
{%- render 'visibility-check' -%}
{%- endcapture -%}

{% if enable_products == 'true' %}
  <customizable-product
    class="dbtfy-customizable-products__block customer hidden"
    {{ block.shopify_attributes }}
  >
    {%- if label != blank -%}
      <div class="checkbox">
        <div class="checkbox_wraper">
          <input
            type="hidden"
            name="properties[{{ property_value }}]"
            value="No"
            class="dbtfy-customizable-product__input"
          >

          <input
            id="{{ label_handleized }}-{{ block.id }}"
            type="checkbox"
            name="properties[{{ property_value }}]"
            value="Yes"
            class="dbtfy-customizable-product__input {% if is_required %}required{% endif %}"
            {% if is_required %}
              required
            {% endif %}
          >
          <span class="svg-wrapper">
            {% render 'material-icon', icon: 'done' %}
          </span>
          <label for="{{ label_handleized }}-{{ block.id }}">
            {{ label }}
          </label>
        </div>
        <small class="error-message w-100">
          <span class="svg-wrapper">
            {{- 'icon-error.svg' | inline_asset_content -}}
          </span>
          This field is required
        </small>
      </div>
    {%- endif -%}
  </customizable-product>
{% endif %}

{% schema %}
{
  "name": "t:blocks.customizable_products.blocks.checkbox.name",
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.settigns"
    },
    {
      "type": "text",
      "id": "label",
      "label": "t:general.settings.label",
      "info": "t:general.settings.label_required"
    },
    {
      "type": "checkbox",
      "id": "required",
      "label": "t:general.settings.require",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_at_checkout",
      "label": "t:blocks.customizable_products.blocks.checkbox.settings.show_at_checkout.label",
      "info": "t:blocks.customizable_products.blocks.checkbox.settings.show_at_checkout.info",
      "default": true
    },
    {
      "type": "header",
      "content": "t:general.settings.visibility.header.content",
      "info": "t:general.settings.visibility.header.info"
    },
    {
      "type": "radio",
      "id": "visibility",
      "label": "t:general.settings.visibility.visibility.label",
      "info": "t:general.settings.visibility.visibility.info",
      "default": "all",
      "options": [
        {
          "value": "all",
          "label": "t:general.settings.visibility.visibility.options__1.label"
        },
        {
          "value": "collection",
          "label": "t:general.settings.visibility.visibility.options__2.label"
        },
        {
          "value": "type",
          "label": "t:general.settings.visibility.visibility.options__3.label"
        },
        {
          "value": "tag",
          "label": "t:general.settings.visibility.visibility.options__4.label"
        },
        {
          "value": "product",
          "label": "t:general.settings.visibility.visibility.options__5.label"
        }
      ]
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:general.settings.visibility.collection.label"
    },
    {
      "type": "text",
      "id": "types",
      "label": "t:general.settings.visibility.types.label",
      "info": "t:general.settings.visibility.types.info"
    },
    {
      "type": "text",
      "id": "tags",
      "label": "t:general.settings.visibility.tags.label",
      "info": "t:general.settings.visibility.tags.info"
    },
    {
      "type": "product",
      "id": "product",
      "label": "t:general.settings.visibility.product.label"
    }
  ],
  "presets": [
    {
      "name": "t:blocks.customizable_products.blocks.checkbox.name"
    }
  ]
}
{% endschema %}
