<script type="text/template" id="dbtfy-trust-payment-icons">
  {% content_for 'block', type: '_trust-payment-icons', id: 'trust-payment-icons' %}
</script>
{%- if request.design_mode or settings.dbtfy_trust_badge -%}
  {%- render 'widget-settings', key: 'dbtfy-trust-badge', settings: block.settings -%}
{%- endif -%}
<script type="text/template" id="dbtfy-trust-badge">
  {%- if request.design_mode -%}
    {%- render 'widget-blocker',
        enabled: settings.dbtfy_trust_badge,
        section: block,
        name: 'Trust badge',
        type: '⚡ Paid Widgets'
    -%}
  {%- endif -%}

  {%- if request.design_mode or settings.dbtfy_trust_badge -%}
    {{ 'dbtfy-trust-badge.css' | asset_url | stylesheet_tag: preload: true }}
    {% render 'section-padding', section: block %}

    {% if settings.dbtfy_trust_badge %}
      <div class="dbtfy-trust-badge section-{{ block.id }}-padding">
        <div class="{trust_badges_alignment} trust_badge_alignment">
          <div class="">
            <h3 class="heading title {{ block.settings.trust_badges_heading_size }} m-0">{{ block.settings.trust_badges_heading }}</h3>
            <p class="subheading subtitle {{ block.settings.trust_badges_subheading_size }} m-0">{{ block.settings.trust_badges_subheading }}</p>
          </div>

          <div class="dbtfy-trust-badge-images payment_option_block">
            <div class="dbtfy-payment-icon-row {% if block.settings.overrided_icon %}overrided{% endif %}" role="list">
              {% if block.settings.overrided_icon %}
                <div class="dbtfy-payment-icon-block">
                  {{
                  block.settings.overrided_icon
                  | image_url: width: 3200
                  | image_tag:
                  widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200'
                  }}
                </div>
              {% else %}
                {%- for type in shop.enabled_payment_types -%}
                  <div class="dbtfy-payment-icon-block">
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  </div>
                {%- endfor -%}
              {% endif %}
            </div>
          </div>
          <div class="other_option_block">
            {% content_for 'block', type: '_trust-badge', id: 'trust-badge' %}
          </div>

          <div class="rte dbtfy-trust-badge--speech-title information  {{block.settings.trust_badges_text_size}} ">
            {{ block.settings.trust_badges_text }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
</script>
{% schema %}
{
  "name": "t:sections.dbtfy-trust-badges.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-trust-badges.help.info"
    },
    {
      "type": "header",
      "content": "t:blocks.help.header"
    },
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-trust-badges.help.link"
    },
    {
      "type": "paragraph",
      "content": "t:blocks.help.paid_info"
    },
    {
      "type": "header",
      "content": "t:general.settings.settigns"
    },
    {
      "type": "text",
      "id": "trust_badges_heading",
      "label": "t:general.settings.heading",
      "default": "t:sections.dbtfy-trust-badges.settings.default.heading"
    },
    {
      "type": "select",
      "id": "trust_badges_heading_size",
      "options": [
        { "value": "h3", "label": "t:general.settings.size.option__3" },
        { "value": "h2", "label": "t:general.settings.size.option__5" },
        { "value": "h1", "label": "t:general.settings.size.option__6" },
        { "value": "h0", "label": "t:general.settings.size.option__7" },
        { "value": "hxl", "label": "t:general.settings.size.option__8" }
      ],
      "default": "h3",
      "label": "t:sections.dbtfy-trust-badges.settings.heading-font-size"
    },
    {
      "type": "text",
      "id": "trust_badges_subheading",
      "label": "t:general.settings.subheading",
      "default": "t:sections.dbtfy-trust-badges.settings.default.subheading"
    },
    {
      "type": "select",
      "id": "trust_badges_subheading_size",
      "options": [
        { "value": "h3", "label": "t:general.settings.size.option__3" },
        { "value": "h2", "label": "t:general.settings.size.option__5" },
        { "value": "h1", "label": "t:general.settings.size.option__6" },
        { "value": "h0", "label": "t:general.settings.size.option__7" },
        { "value": "hxl", "label": "t:general.settings.size.option__8" }
      ],
      "default": "h3",
      "label": "t:sections.dbtfy-trust-badges.settings.subheading-font-size"
    },
    {
      "type": "inline_richtext",
      "id": "trust_badges_text",
      "label": "t:sections.dbtfy-trust-badges.settings.information-text.label",
      "default": "t:sections.dbtfy-trust-badges.settings.information-text.info"
    },
    {
      "type": "select",
      "id": "trust_badges_text_size",
      "options": [
        { "value": "body", "label": "t:general.settings.style.body" },
        { "value": "h3", "label": "t:general.settings.size.option__3" },
        { "value": "h2", "label": "t:general.settings.size.option__5" },
        { "value": "h1", "label": "t:general.settings.size.option__6" },
        { "value": "h0", "label": "t:general.settings.size.option__7" },
        { "value": "hxl", "label": "t:general.settings.size.option__8" }
      ],
      "default": "body",
      "label": "t:sections.dbtfy-trust-badges.settings.information-text-size"
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-trust-badges.settings.information-text.label",
      "info": "t:sections.dbtfy-trust-badges.settings.information-text.info"
    },
    {
      "type": "image_picker",
      "id": "overrided_icon",
      "label": "t:sections.dbtfy-trust-badges.settings.override_icon.icon"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "none",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "none",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "_trust-badge-block"
    },
    {
      "type": "_trust-payment-icons"
    }
  ],
  "presets": [
    {
      "name": "t:sections.dbtfy-trust-badges.name",
      "blocks": [
        {
          "type": "_trust-badge",
          "static": true,
          "id": "trust-badge",
          "blocks": [
            {
              "type": "_trust-badge-block"
            },
            {
              "type": "_trust-badge-block"
            },
            {
              "type": "_trust-badge-block"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
