{% render 'block-padding', block: block, label: 'cta' %}
<div
  class="dbtfy-button--block {{ block.settings.alignment }} {{ block.settings.alignment_mobile }} block-{{ block.id }}-padding"
  {{ block.shopify_attributes }}
>
  {% capture icon_content_1 %}{% render 'material-icon', icon: block.settings.button_1_icon %}{% endcapture %}
  {% capture custom_icon_content_1 %}
      {{ block.settings.button_1_custom_icon | image_url: width: 16 | image_tag: loading: 'eager', sizes: '100vw', widths: '300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600' }}  
  {% endcapture %}

  {% capture icon_content_2 %}{% render 'material-icon', icon: block.settings.button_2_icon %}{% endcapture %}
  {% capture custom_icon_content_2 %}
      {{ block.settings.button_2_custom_icon | image_url: width: 16 | image_tag: loading: 'eager', sizes: '100vw', widths: '300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600' }}  
  {% endcapture %}

  {%- if block.settings.button_label_1 != blank -%}
    {% assign button_size = block.settings.button_size_1 %}
    {% if button_size == 'inherit' %}
      {% assign button_size = settings.button_size %}
    {% endif %}
    <a
      {% if block.settings.button_link_1 == blank %}
        role="link" aria-disabled="true"
      {% else %}
        href="{{ block.settings.button_link_1 }}"
      {% endif %}
      class="{{  block.settings.button_style_1 }} {{ button_size }} {% if block.settings.text_style_first == "inherit" %} {{ settings.button_style }} {% else %} {{ block.settings.text_style_first }} {% endif %}"
    >
      <span class="grid align-items-center ">
        {% liquid
          capture icon
            if block.settings.button_1_icon_show
              if block.settings.button_1_custom_icon != blank
                echo custom_icon_content_1
              elsif block.settings.button_1_icon != blank
                echo icon_content_1
              endif
            endif
          endcapture
        %}
        {% if block.settings.icon_position_1 == 'left' %}
          {{ icon }}
        {% endif %}
        {{- block.settings.button_label_1 | escape -}}
        {% if block.settings.icon_position_1 == 'right' %}
          {{ icon }}
        {% endif %}
      </span>
    </a>
  {%- endif -%}

  {%- if block.settings.button_label_2 != blank -%}
    {% assign button_size = block.settings.button_size_2 %}
    {% if button_size == 'inherit' %}
      {% assign button_size = settings.button_size %}
    {% endif %}
    <a
      {% if block.settings.button_link_2 == blank %}
        role="link" aria-disabled="true"
      {% else %}
        href="{{ block.settings.button_link_2 }}"
      {% endif %}
      class="{{ block.settings.button_style_2 }} {{ button_size }} {% if block.settings.text_style_second == "inherit" %} {{ settings.button_style }} {% else %} {{ block.settings.text_style_second }} {% endif %}"
    >
      <span class="grid align-items-center">
        {% liquid
          capture icon
            if block.settings.button_2_icon_show
              if block.settings.button_2_custom_icon != blank
                echo custom_icon_content_2
              elsif block.settings.button_2_icon != blank
                echo icon_content_2
              endif
            endif
          endcapture
        %}
        {% if block.settings.icon_position_2 == 'left' %}
          {{ icon }}
        {% endif %}
        {{- block.settings.button_label_2 | escape -}}
        {% if block.settings.icon_position_2 == 'right' %}
          {{ icon }}
        {% endif %}
      </span>
    </a>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:blocks.double_button.heading",
  "class": "w-full",
  "settings": [
    {
      "type": "header",
      "content": "t:blocks.double_button.button_label_1.content"
    },
    {
      "type": "text",
      "id": "button_label_1",
      "default": "t:blocks.double_button.button_label_1.default",
      "label": "t:general.settings.label"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "t:sections.all.button.options__1.label"
    },
    {
      "type": "select",
      "id": "button_style_1",
      "default": "button button--primary",
      "label": "t:general.settings.style.lable",
      "options": [
        { "value": "link underlined-link button--link", "label": "t:sections.all.button.options__1.label" },
        { "value": "button button--tertiary", "label": "t:sections.all.button.options__2.label" },
        { "value": "button button--primary", "label": "t:sections.all.button.options__3.label" },
        { "value": "button button--secondary", "label": "t:sections.all.button.options__4.label" }
      ]
    },
    {
      "type": "select",
      "id": "button_size_1",
      "default": "inherit",
      "label": "t:general.settings.size.label",
      "options": [
        { "value": "inherit", "label": "t:general.settings.size.option__1" },
        { "value": "button--small", "label": "t:general.settings.size.option__3" },
        { "value": "button--medium", "label": "t:general.settings.size.option__5" },
        { "value": "", "label": "t:general.settings.size.option__10" }
      ]
    },
    {
      "type": "select",
      "id": "text_style_first",
      "label": "t:general.settings.style.text_style",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "uppercase",
          "label": "t:general.settings.style.uppercase"
        },
        {
          "value": "lowercase",
          "label": "t:general.settings.style.lowercase"
        },
        {
          "value": "capitalize",
          "label": "t:general.settings.style.capitalize"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "button_1_icon_show",
      "label": "t:blocks.double_button.button_icon.label",
      "default": false
    },
    {
      "type": "text",
      "id": "button_1_icon",
      "label": "t:blocks.double_button.icon.label",
      "default": "t:blocks.double_button.icon.default",
      "info": "t:general.settings.icon_info"
    },
    {
      "type": "image_picker",
      "id": "button_1_custom_icon",
      "label": "t:blocks.double_button.custom_icon.label",
      "info": "t:blocks.double_button.custom_icon.info"
    },
    {
      "type": "select",
      "id": "icon_position_1",
      "label": "t:blocks.button.icon_position_label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:general.settings.alignment.option__4"
        },
        {
          "value": "right",
          "label": "t:general.settings.alignment.option__6"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:blocks.double_button.button_label_2.content"
    },
    {
      "type": "text",
      "id": "button_label_2",
      "default": "t:blocks.double_button.button_label_2.default",
      "label": "t:general.settings.label"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "t:sections.all.button.options__1.label"
    },
    {
      "type": "select",
      "id": "button_style_2",
      "default": "button button--primary",
      "label": "t:general.settings.style.lable",
      "options": [
        { "value": "link underlined-link button--link", "label": "t:sections.all.button.options__1.label" },
        { "value": "button button--tertiary", "label": "t:sections.all.button.options__2.label" },
        { "value": "button button--primary", "label": "t:sections.all.button.options__3.label" },
        { "value": "button button--secondary", "label": "t:sections.all.button.options__4.label" }
      ]
    },
    {
      "type": "select",
      "id": "button_size_2",
      "default": "inherit",
      "label": "t:general.settings.size.label",
      "options": [
        { "value": "inherit", "label": "t:general.settings.size.option__1" },
        { "value": "button--small", "label": "t:general.settings.size.option__3" },
        { "value": "button--medium", "label": "t:general.settings.size.option__5" },
        { "value": "", "label": "t:general.settings.size.option__10" }
      ]
    },
    {
      "type": "select",
      "id": "text_style_second",
      "label": "t:general.settings.style.text_style",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "uppercase",
          "label": "t:general.settings.style.uppercase"
        },
        {
          "value": "lowercase",
          "label": "t:general.settings.style.lowercase"
        },
        {
          "value": "capitalize",
          "label": "t:general.settings.style.capitalize"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "button_2_icon_show",
      "label": "t:blocks.double_button.button_icon.label",
      "default": false
    },
    {
      "type": "text",
      "id": "button_2_icon",
      "label": "t:blocks.double_button.icon.label",
      "default": "t:blocks.double_button.icon.default",
      "info": "t:general.settings.icon_info"
    },
    {
      "type": "image_picker",
      "id": "button_2_custom_icon",
      "label": "t:blocks.double_button.custom_icon.label",
      "info": "t:blocks.double_button.custom_icon.info"
    },
    {
      "type": "select",
      "id": "icon_position_2",
      "label": "t:blocks.button.icon_position_label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:general.settings.alignment.option__4"
        },
        {
          "value": "right",
          "label": "t:general.settings.alignment.option__6"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.settings.alignment.label"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:general.settings.alignment.label",
      "default": "justify-content-left",
      "options": [
        { "value": "justify-content-left", "label": "t:general.settings.alignment.option__4" },
        { "value": "justify-content-center", "label": "t:general.settings.alignment.option__5" },
        { "value": "justify-content-right", "label": "t:general.settings.alignment.option__6" }
      ]
    },
    {
      "type": "select",
      "id": "alignment_mobile",
      "label": "t:general.settings.alignment.label_mobile",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "t:general.settings.alignment.option__12"
        },
        { "value": "mobile-justify-content-left", "label": "t:general.settings.alignment.option__4" },
        { "value": "mobile-justify-content-center", "label": "t:general.settings.alignment.option__5" },
        { "value": "mobile-justify-content-right", "label": "t:general.settings.alignment.option__6" }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.block_padding.block_padding_heading"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "extra_small",
          "label": "t:general.settings.size.option__4"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "extra_large",
          "label": "t:general.settings.size.option__7"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "extra_small",
          "label": "t:general.settings.size.option__4"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "extra_large",
          "label": "t:general.settings.size.option__7"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [{ "name": "t:blocks.double_button.heading" }]
}
{% endschema %}
