<modal-opener
  class="product-popup-modal__opener quick-add-hidden"
  data-modal="#PopupModal-{{ block.id }}"
  {{ block.shopify_attributes }}
>
  <button
    id="ProductPopup-{{ block.id }}"
    class="product-popup-modal__button link"
    type="button"
    aria-haspopup="dialog"
  >
    {{ block.settings.text | default: block.settings.page.title | escape }}
  </button>
</modal-opener>
<modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
  <div
    role="dialog"
    aria-label="{{ block.settings.text }}"
    aria-modal="true"
    class="product-popup-modal__content"
    tabindex="-1"
  >
    <button
      id="ModalClose-{{ block.id }}"
      type="button"
      class="product-popup-modal__toggle"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {{- 'icon-close.svg' | inline_asset_content -}}
    </button>
    <div class="product-popup-modal__content-info">
      <h1 class="h2">{{ block.settings.page.title | escape }}</h1>
      {{ block.settings.page.content }}
    </div>
  </div>
</modal-dialog>

{% schema %}
{
  "name": "t:sections.main-product.blocks.popup.name",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "default": "t:sections.main-product.blocks.popup.settings.link_label.default",
      "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
    },
    {
      "id": "page",
      "type": "page",
      "label": "t:sections.main-product.blocks.popup.settings.page.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-product.blocks.popup.name"
    }
  ]
}
{% endschema %}
