{%- if request.design_mode -%}
  {%- render 'widget-blocker-warning',
    enabled: settings.dbtfy_star_rating,
    type: 'widget',
    as: 'block',
    name: 'Star Rating',
    id: block
  -%}
{% endif %}
{%- if settings.dbtfy_star_rating or request.design_mode -%}
  {%- capture star_html -%}
    <div class="star-rating empty-{{ settings.empty_star_style }}">
        {% for i in (1..5) %}
            {% if i > block.settings.rating %}
                {% render 'icon-empty-star' %}
            {% else %}
                {% render 'icon-star' %}
            {% endif %}
        {% endfor %}
    </div>
  {% endcapture %}

  {% style %}
    .star-rating {
      line-height: 1;
    }

    .star-rating .icon {
      width: 2rem;
      height: 2rem;
      margin-right: 0.3rem;
    }

    .star-rating-block {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  {% endstyle %}

  <dbtfy-star-rating>
    <div class="{{ block.settings.text_alignment }} star-rating-block">
      {% unless block.settings.show_star_after_text %}
        {{ star_html }}
      {% endunless %}

      <p class="m-0">{{ block.settings.text }}</p>

      {% if block.settings.show_star_after_text %}
        {{ star_html }}
      {% endif %}
    </div>
  </dbtfy-star-rating>
{% endif %}

{% schema %}
{
  "name": "t:blocks.star_rating.name",
  "settings": [
    {
      "type": "range",
      "id": "rating",
      "label": "t:blocks.star_rating.rating_label",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 5
    },
    {
      "type": "text",
      "id": "text",
      "label": "t:general.settings.text",
      "default": "t:blocks.star_rating.default_text"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:general.settings.alignment.text_alignment",
      "default": "text-left",
      "options": [
        { "value": "text-left", "label": "t:general.settings.alignment.option__4" },
        { "value": "text-center", "label": "t:general.settings.alignment.option__5" },
        { "value": "text-right", "label": "t:general.settings.alignment.option__6" },
        { "value": "text-justify", "label": "t:general.settings.alignment.option__7" }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_star_after_text",
      "label": "t:blocks.star_rating.star_after_text",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "t:blocks.star_rating.name"
    }
  ]
}
{% endschema %}
