{% liquid
  capture slider_parameters
    echo ' data-autoplay="' | append: block.settings.enable_autoplay | append: '"'
    echo ' data-speed="' | append: block.settings.autoplay_speed | append: '"'
    echo ' data-loop="' | append: block.settings.enable_loop | append: '"'
    echo ' data-dots="' | append: block.settings.enable_dots | append: '"'
    echo ' data-arrows="' | append: block.settings.enable_arrows | append: '"'
  endcapture

  assign slider_on = 'slider slider--everywhere'
  if block.settings.slider_on == 'none'
    assign slider_on = ''
    assign slider_parameters = ''
  elsif block.settings.slider_on != 'both'
    assign slider_on = 'slider slider--' | append: block.settings.slider_on
  endif

  assign block_id = 'trust-badge-' | append: block.id
  render 'custom-arrow-style', as_a: 'block', id: block_id
%}
<dbtfy-slider-component
  {{ slider_parameters }}
  data-enable-card="{{ block.settings.trust_badges_enable_card }}"
  data-enable-gray-logos="{{ block.settings.trust_badges_enable_gray_logos }}"
  data-heading-size="{{ block.settings.trust_badges_logo_heading_size }}"
  data-text-size="{{ block.settings.trust_badges_logo_text_size }}"
  data-desktop-col="{{ block.settings.desktop_col_width }}"
  data-mobile-col="{{ block.settings.mobile_col_width }}"
  data-icon-block-layout="{{ block.settings.layout }}"
  id="{{ block_id }}"
>
  <div
    class="contains-content-container {{slider_on}} {badge_column_class} grid"
    id="Slider-{{ section.id }}"
    role="list"
    style="overflow: hidden;"
  >
    {% content_for 'blocks' %}
  </div>

  {% render 'dbtfy-arrow', class: 'slideshow__controls slideshow__controls--top' %}
</dbtfy-slider-component>

{% schema %}
{
  "name": "t:sections.dbtfy-trust-badges.settings.blocks",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "column",
      "options": [
        {
          "value": "column",
          "label": "Column"
        },
        {
          "value": "row",
          "label": "Row"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "trust_badges_enable_card",
      "label": "t:sections.dbtfy-trust-badges.settings.enable-card",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "trust_badges_enable_gray_logos",
      "label": "t:sections.dbtfy-trust-badges.settings.enable-gray-logos",
      "default": false
    },
    {
      "type": "select",
      "id": "trust_badges_logo_heading_size",
      "options": [
        { "value": "h3", "label": "t:general.settings.size.option__3" },
        { "value": "h2", "label": "t:general.settings.size.option__5" },
        { "value": "h1", "label": "t:general.settings.size.option__6" },
        { "value": "h0", "label": "t:general.settings.size.option__7" },
        { "value": "hxl", "label": "t:general.settings.size.option__8" }
      ],
      "default": "h2",
      "label": "t:sections.dbtfy-trust-badges.settings.title-font-size"
    },
    {
      "type": "select",
      "id": "trust_badges_logo_text_size",
      "options": [
        { "value": "h3", "label": "t:general.settings.size.option__3" },
        { "value": "h2", "label": "t:general.settings.size.option__5" },
        { "value": "h1", "label": "t:general.settings.size.option__6" },
        { "value": "h0", "label": "t:general.settings.size.option__7" },
        { "value": "hxl", "label": "t:general.settings.size.option__8" }
      ],
      "default": "h2",
      "label": "t:sections.dbtfy-trust-badges.settings.text-font-size"
    },
    {
      "type": "range",
      "id": "desktop_col_width",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "t:general.settings.col.desktop",
      "default": 2
    },
    {
      "type": "select",
      "id": "mobile_col_width",
      "options": [
        {
          "value": "1",
          "label": "t:general.settings.col.mobile.options__1"
        },
        {
          "value": "2",
          "label": "t:general.settings.col.mobile.options__2"
        }
      ],
      "default": "1",
      "label": "t:general.settings.col.mobile.label"
    },
    {
      "type": "header",
      "content": "t:general.settings.slider.slider_settings"
    },
    {
      "type": "select",
      "id": "slider_on",
      "default": "both",
      "label": "t:general.settings.slider.Enable_slider",
      "options": [
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        },
        {
          "value": "desktop",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.show_on.options__4.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "default": false,
      "label": "t:general.settings.slider.enable_autoplay"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:general.settings.slider.autoplay_speed",
      "default": 5,
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "enable_loop",
      "default": true,
      "label": "Loop",
      "info": "Continue from the last slide to the first slide"
    },
    {
      "type": "checkbox",
      "id": "enable_arrows",
      "default": true,
      "label": "t:general.settings.slider.show_arrows"
    },
    {
      "type": "select",
      "id": "arrow_color",
      "default": "inherit",
      "label": "t:general.settings.slider.arrow_color",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "color",
      "id": "custom_arrow_color",
      "label": "t:general.settings.slider.custom-arrow-color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "custom_arrow_background_color",
      "label": "t:general.settings.slider.custom-arrow-bg-color",
      "default": "#7559ff"
    }
  ],
  "blocks": [
    {
      "type": "_trust-badge-block"
    }
  ],
  "presets": [
    {
      "name": "t:sections.dbtfy-trust-badges.settings.blocks",
      "blocks": [
        {
          "type": "_trust-badge-block"
        }
      ]
    }
  ]
}
{% endschema %}
