{%- render 'widget-blocker',
  enabled: settings.dbtfy_testimonials,
  section: section,
  name: 'Testimonials',
  type: '⚡ Paid Sections'
-%}
{%- if request.design_mode or settings.dbtfy_testimonials -%}
  {%- render 'section-padding', section: section -%}

  {%- style -%}
    #shopify-section-{{ section.id }} .dbtfy-testimonial-card .short-description:not(.show-full){
      display: -webkit-box;
      -webkit-line-clamp: {{ section.settings.line_limit }};
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    #shopify-section-{{ section.id }} .dbtfy-testimonials-shadow.short-description:not(.show-full):after{
      {%- if section.settings.show_more_gradient != blank -%}
        background-image: {{section.settings.show_more_gradient}};
      {%- else -%}
        background-image: linear-gradient(to bottom,transparent,rgb(var(--color-foreground),.1));
      {%- endif -%}
      height: {{ section.settings.show_more_gradient_height }}%;
    }
  {%- endstyle -%}

  {% liquid
    capture slider_parameters
      echo ' data-autoplay="' | append: section.settings.enable_autoplay | append: '"'
      echo ' data-speed="' | append: section.settings.autoplay_speed | append: '"'
      echo ' data-loop="' | append: section.settings.enable_loop | append: '"'
      echo ' data-dots="' | append: section.settings.enable_dots | append: '"'
      echo ' data-arrows="' | append: section.settings.enable_arrows | append: '"'
    endcapture

    assign slider_on = 'slider slider--everywhere'
    if section.settings.slider_on == 'none'
      assign slider_on = ''
      assign slider_parameters = ''
    elsif section.settings.slider_on != 'both'
      assign slider_on = 'slider slider--' | append: section.settings.slider_on
    endif

    assign display_type = section.settings.display_type

    if display_type == 'list' or display_type == 'story' or display_type == 'rotator'
      assign columns_desktop = 1
    else
      assign columns_desktop = section.settings.columns_desktop
    endif
    assign columns_mobile = 1

    unless display_type == 'carousel' or display_type == 'rotator' or display_type == 'story'
      if section.settings.slider_on == 'none' or display_type == 'list' or display_type == 'cards' or display_type == 'grid'
        assign slider_on = ''
        assign slider_parameters = ''
      endif
    endunless

    assign arrow_class = ''
    if section.settings.arrow_position == 'middle'
      assign arrow_class = 'slideshow__controls slideshow__controls--top'
    endif

    render 'custom-arrow-style'
  %}
  <link rel="stylesheet" href="{{ 'video-section.css' | asset_url }}" media="print" onload="this.media='all'">
  <link
    rel="stylesheet"
    href="{{ 'component-deferred-media.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
  <link rel="stylesheet" href="{{ 'dbtfy-testimonials.css' | asset_url }}" media="print" onload="this.media='all'">

  <script src="{{ 'dbtfy-rte.js' | asset_url }}" defer></script>

  <dbtfy-testimonials>
    <div class="color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} show-on--{{ section.settings.show_on }} gradient">
      <div class="section-{{ section.id }}-padding {{ section.settings.container_size }}">
        {% content_for 'block', type: '_heading', id: 'heading' %}

        <dbtfy-slider-component
          {{ slider_parameters }}
        >
          <ul
            class="{{ slider_on }} width-auto-adjusted contains-content-container grid grid--{{ columns_mobile }}-col grid--{{ columns_desktop }}-col-desktop grid--{{ columns_desktop }}-col-tablet"
            id="Slider-{{ section.id }}"
            role="list"
          >
            {% content_for 'block', type: '_dbtfy-testimonials', id: 'testimonials' %}
          </ul>
          {% render 'dbtfy-arrow', class: arrow_class %}
        </dbtfy-slider-component>
      </div>
    </div>
  </dbtfy-testimonials>
{% endif %}
{% schema %}
{
  "name": "t:sections.dbtfy_testimonials.name",
  "tag": "section",
  "class": "dbtfy-testimonials",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy_testimonials.settings.disclaimer"
    },
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:sections.all.container_size.label",
      "default": "page-width",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "",
          "label": "t:sections.all.container_size.options__2.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "display_type",
      "label": "t:sections.dbtfy_testimonials.settings.display_type.label",
      "default": "grid",
      "info": "t:sections.dbtfy_testimonials.settings.display_type.info",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.dbtfy_testimonials.settings.display_type.options__1.label"
        },
        {
          "value": "carousel",
          "label": "t:sections.dbtfy_testimonials.settings.display_type.options__2.label"
        },
        {
          "value": "rotator",
          "label": "t:sections.dbtfy_testimonials.settings.display_type.options__3.label"
        },
        {
          "value": "cards",
          "label": "t:sections.dbtfy_testimonials.settings.display_type.options__4.label"
        },
        {
          "value": "list",
          "label": "t:sections.dbtfy_testimonials.settings.display_type.options__5.label"
        },
        {
          "value": "story",
          "label": "t:sections.dbtfy_testimonials.settings.display_type.options__6.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy_testimonials.settings.display_type.grid_header",
      "info": "t:sections.dbtfy_testimonials.settings.display_type.grid_info"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.collection-list.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy_testimonials.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_star_rating",
      "label": "t:sections.dbtfy_testimonials.settings.enable_star_rating.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_author_image",
      "label": "t:sections.dbtfy_testimonials.settings.enable_author_image.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_default_avatar",
      "label": "t:sections.dbtfy_testimonials.settings.enable_default_avatar.label",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "default_avatar",
      "label": "t:sections.dbtfy_testimonials.settings.default_avatar.label"
    },
    {
      "type": "checkbox",
      "id": "enable_author_name",
      "label": "t:sections.dbtfy_testimonials.settings.enable_author_name.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_paragraph",
      "label": "t:sections.dbtfy_testimonials.settings.enable_paragraph.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_compay_profession",
      "label": "t:sections.dbtfy_testimonials.settings.enable_compay_profession.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_date",
      "label": "t:sections.dbtfy_testimonials.settings.enable_date.label",
      "default": true
    },
    {
      "type": "select",
      "id": "date_format",
      "label": "t:sections.dbtfy_testimonials.settings.date_format.label",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "t:sections.dbtfy_testimonials.settings.date_format.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.dbtfy_testimonials.settings.date_format.options__2.label"
        },
        {
          "value": "3",
          "label": "t:sections.dbtfy_testimonials.settings.date_format.options__3.label"
        },
        {
          "value": "4",
          "label": "t:sections.dbtfy_testimonials.settings.date_format.options__4.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "profile_picture_style",
      "label": "t:sections.dbtfy_testimonials.settings.profile_picture_style.label",
      "default": "circle",
      "options": [
        {
          "value": "square",
          "label": "t:general.settings.style.square"
        },
        {
          "value": "rounded",
          "label": "t:general.settings.style.rounded"
        },
        {
          "value": "circle",
          "label": "t:general.settings.style.circle"
        }
      ]
    },
    {
      "type": "select",
      "id": "user_data_location",
      "label": "t:sections.dbtfy_testimonials.settings.user_data_location.label",
      "default": "above",
      "options": [
        {
          "value": "above",
          "label": "t:sections.dbtfy_testimonials.settings.user_data_location.options__1.label"
        },
        {
          "value": "below",
          "label": "t:sections.dbtfy_testimonials.settings.user_data_location.options__2.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "profile_content_alignment",
      "label": "t:sections.dbtfy_testimonials.settings.profile_content_alignment.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:general.settings.alignment.option__4"
        },
        {
          "value": "center",
          "label": "t:general.settings.alignment.option__5"
        },
        {
          "value": "right",
          "label": "t:general.settings.alignment.option__6"
        }
      ]
    },
    {
      "type": "select",
      "id": "review_content_aignment",
      "label": "t:sections.dbtfy_testimonials.settings.review_content_aignment.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:general.settings.alignment.option__4"
        },
        {
          "value": "center",
          "label": "t:general.settings.alignment.option__5"
        },
        {
          "value": "right",
          "label": "t:general.settings.alignment.option__6"
        }
      ]
    },
    {
      "type": "select",
      "id": "media_position",
      "label": "t:sections.dbtfy_testimonials.settings.media_position.label",
      "default": "image-first",
      "options": [
        {
          "value": "image-first",
          "label": "t:sections.dbtfy_testimonials.settings.media_position.options__1.label"
        },
        {
          "value": "image-last",
          "label": "t:sections.dbtfy_testimonials.settings.media_position.options__2.label"
        }
      ],
      "info": "t:sections.dbtfy_testimonials.settings.media_position.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quotation_icon",
      "label": "t:sections.dbtfy_testimonials.settings.enable_quotation_icon.label",
      "default": false
    },
    {
      "type": "text",
      "id": "icon",
      "label": "t:sections.dbtfy_testimonials.settings.icon.label",
      "default": "format_quote",
      "info": "t:sections.all.icon.info"
    },
    {
      "type": "image_picker",
      "id": "custom_icon",
      "label": "t:sections.dbtfy_testimonials.settings.custom_icon.label"
    },
    {
      "type": "select",
      "id": "icon_position",
      "label": "t:sections.dbtfy_testimonials.settings.icon_position.label",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "t:general.settings.alignment.option__4"
        },
        {
          "value": "center",
          "label": "t:general.settings.alignment.option__5"
        },
        {
          "value": "right",
          "label": "t:general.settings.alignment.option__6"
        }
      ]
    },
    {
      "type": "select",
      "id": "icon_height",
      "label": "t:sections.dbtfy_testimonials.settings.icon_height.label",
      "default": "medium",
      "options": [
        {
          "value": "extra-small",
          "label": "t:general.settings.size.option__4"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "extra-large",
          "label": "t:general.settings.size.option__7"
        }
      ]
    },
    {
      "type": "select",
      "id": "icon_height_mobile",
      "label": "t:sections.dbtfy_testimonials.settings.icon_height_mobile.label",
      "default": "medium",
      "options": [
        {
          "value": "extra-small",
          "label": "t:general.settings.size.option__4"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy_testimonials.settings.enable_read_more.header"
    },
    {
      "type": "range",
      "id": "line_limit",
      "label": "t:sections.dbtfy_testimonials.settings.line_limit.label",
      "default": 5,
      "min": 3,
      "max": 7,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "enable_read_more",
      "label": "t:sections.dbtfy_testimonials.settings.enable_read_more.label",
      "default": true
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.all.button.label",
      "options": [
        {
          "value": "link underlined-link button--link",
          "label": "t:sections.all.button.options__1.label"
        },
        {
          "value": "button button--tertiary",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "button button--primary",
          "label": "t:sections.all.button.options__3.label"
        },
        {
          "value": "button button--secondary",
          "label": "t:sections.all.button.options__4.label"
        }
      ],
      "default": "button button--primary"
    },
    {
      "type": "select",
      "id": "button_size",
      "default": "inherit",
      "label": "t:general.settings.size.label",
      "options": [
        { "value": "inherit", "label": "t:general.settings.size.option__1" },
        { "value": "button--small", "label": "t:general.settings.size.option__3" },
        { "value": "button--medium", "label": "t:general.settings.size.option__5" },
        { "value": "", "label": "t:general.settings.size.option__10" }
      ]
    },
    {
      "type": "text",
      "id": "read_more_label",
      "label": "t:sections.dbtfy_testimonials.settings.read_more_label.label",
      "default": "t:sections.dbtfy_testimonials.settings.read_more_label.default"
    },
    {
      "type": "text",
      "id": "read_less_label",
      "label": "t:sections.dbtfy_testimonials.settings.read_less_label.label",
      "default": "t:sections.dbtfy_testimonials.settings.read_less_label.default"
    },
    {
      "type": "checkbox",
      "id": "enable_read_more_shadow",
      "label": "t:sections.dbtfy_testimonials.settings.enable_read_more_shadow.label",
      "default": false
    },
    {
      "type": "color_background",
      "id": "show_more_gradient",
      "label": "t:sections.dbtfy_testimonials.settings.shadow.gradient_label"
    },
    {
      "type": "range",
      "id": "show_more_gradient_height",
      "label": "t:sections.dbtfy_testimonials.settings.shadow.gradient_height",
      "default": 40,
      "min": 0,
      "max": 40,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "t:general.settings.slider.slider_settings"
    },
    {
      "type": "select",
      "id": "slider_on",
      "default": "both",
      "label": "t:general.settings.slider.Enable_slider",
      "options": [
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        },
        {
          "value": "desktop",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.show_on.options__4.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "default": false,
      "label": "t:general.settings.slider.enable_autoplay"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:general.settings.slider.autoplay_speed",
      "default": 5,
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "enable_loop",
      "default": true,
      "label": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.loop.label",
      "info": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.loop.info"
    },
    {
      "type": "checkbox",
      "id": "enable_dots",
      "default": true,
      "label": "t:general.settings.slider.show_dots"
    },
    {
      "type": "checkbox",
      "id": "enable_arrows",
      "default": true,
      "label": "t:general.settings.slider.show_arrows"
    },
    {
      "type": "select",
      "id": "arrow_color",
      "default": "inherit",
      "label": "t:general.settings.slider.arrow_color",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "color",
      "id": "custom_arrow_color",
      "label": "t:general.settings.slider.custom-arrow-color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "custom_arrow_background_color",
      "label": "t:general.settings.slider.custom-arrow-bg-color",
      "default": "#7559ff"
    },
    {
      "type": "select",
      "id": "arrow_position",
      "default": "middle",
      "label": "Arrow position",
      "options": [
        {
          "value": "middle",
          "label": "t:general.settings.alignment.option__2"
        },
        {
          "value": "bottom",
          "label": "t:general.settings.alignment.option__3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "presets": [
    {
      "name": "t:sections.dbtfy_testimonials.name",
      "blocks": [
        {
          "type": "_heading",
          "static": true,
          "id": "heading",
          "blocks": [
            {
              "type": "_title",
              "settings": { "title": "Testimonials", "alignment": "text-center", "padding___bottom": "extra_small" }
            }
          ]
        },
        {
          "type": "_dbtfy-testimonials",
          "static": true,
          "id": "testimonials",
          "blocks": [
            { "type": "_dbtfy-testimonial-item", "settings": {} },
            { "type": "_dbtfy-testimonial-item", "settings": {} },
            { "type": "_dbtfy-testimonial-item", "settings": {} }
          ],
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
