{% render 'section-padding', section: section %}

<link rel="stylesheet" href="{{ 'dbtfy-footer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="dbtfy-footer section-{{ section.id }}-padding color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width">
    <div class="d-grid">
      {% content_for 'blocks' %}
    </div>

    <div>
      <div
        class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        <div class="d-grid">
          <div class="grid--6-col-tablet grid--12-col dbtfy-footer-block__localization-form mobile-text-center">
            {%- if section.settings.show_localization and localization.available_countries.size > 1 -%}
              <localization-form>
                {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
                  <div>
                    <h2 class="caption-large text-body" id="FooterCountryLabel">
                      {{ 'localization.country_label' | t }}
                    </h2>
                    {%- render 'country-localization', localPosition: 'FooterCountry' -%}
                  </div>
                {%- endform -%}
              </localization-form>
            {%- endif -%}
            {%- if section.settings.show_localization and localization.available_languages.size > 1 -%}
              <localization-form>
                {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
                  <div>
                    <h2 class="caption-large text-body" id="FooterLanguageLabel">
                      {{ 'localization.language_label' | t }}
                    </h2>
                    {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
                  </div>
                {%- endform -%}
              </localization-form>
            {%- endif -%}
          </div>

          <div class="dbtfy-footer-block__payment-business-registration {% if section.settings.show_localization == false %} grid--12-col justify-self-center{% else %}grid--6-col-tablet grid--12-col{% endif %} align-self-center">
            {%- if section.settings.payment_enable -%}
              <div class="dbtfy-footer__payment">
                <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
                <ul class="dbtfy-footer-block__list-payment" role="list">
                  {%- for type in shop.enabled_payment_types -%}
                    <li class="dbtfy-footer-block__list-payment__item">
                      {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}
            {% if section.settings.show_business_registration and section.settings.business_registration != blank %}
              <div class="mobile-text-center dbtfy-footer-block__business-registration {% if section.settings.show_localization == false %}text-center{% else %}text-right{% endif %}">
                {% if section.settings.business_registration_heading %}
                  <h4 class="dbtfy-footer-block__business-registration--heading">
                    {{ section.settings.business_registration_heading }}
                  </h4>
                {% endif %}
                <div class="rte">{{ section.settings.business_registration }}</div>
              </div>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="d-grid dbtfy-footer-block__copyright-social-wrapper align-items-center mobile-text-center">
          <div class="{%if section.settings.show_social_media %}grid--6-col-tablet grid--12-col {% else %}grid--12-col {{  section.settings.copyright_text_position_desktop }}{% endif %} dbtfy-footer-block__copyright">
            <div class="dbtfy-footer-copyright">
              {% assign current_year = 'now' | date: '%Y' %}
              {% if section.settings.show_shopify_powered %}
                {% if section.settings.custom_credential != blank -%}
                  {% assign copyright_string = '{copyright}' %}
                  {% assign year_string = '{year}' %}

                  <small class="dbtfy-footer-copyright__content">
                    {% assign custom_credential = section.settings.custom_credential
                      | replace: copyright_string, '&copy;'
                    %}
                    {% assign custom_credential = custom_credential | replace: year_string, current_year %}
                    {{- custom_credential -}}
                  </small>
                {%- endif %}
              {% else %}
                <small class="dbtfy-footer-copyright__content"
                  >&copy; {{ current_year }}, {{ shop.name | link_to: routes.root_url -}}
                </small>
                {% if section.settings.show_shopify_powered %}
                  <small class="dbtfy-footer-copyright__content">| {{ powered_by_link }}</small>
                {% endif %}
              {% endif %}
              {%- if section.settings.show_policy_links -%}
                <ul class="dbtfy-footer-block__policies list-unstyled">
                  {%- for policy in shop.policies -%}
                    {%- if policy != blank -%}
                      <li>
                        <small class="dbtfy-footer-copyright__content"
                          ><a href="{{ policy.url }}">{{ policy.title | escape }}</a></small
                        >
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>
          </div>
          {% if section.settings.show_social_media %}
            <div class="grid--6-col-tablet grid--12-col dbtfy-footer-block__social-media show-on--{{ section.settings.show_on }}">
              <h4 class="dbtfy-block__subheading inline-richtext">{{ section.settings.social_media_title }}</h4>
              {% render 'social-icons' %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% unless settings.dbtfy_remove_debutify_branding %}
      <span class="footer__branding">
        <a
          href="https://debutify.com?utm_source={{ shop.domain }}&utm_medium=referral&utm_campaign=product-theme-footer-link"
          target="_blank"
          rel="nofollow"
          title="The World's #1 Free Shopify Theme"
          >Powered by <strong>Debutify</strong>
        </a>
      </span>
    {% endunless %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.dbtfy-footer.name",
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.settigns"
    },
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.dbtfy-footer.settings.show_social_media.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-footer.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "t:sections.dbtfy-footer.settings.show_social_media.label",
      "default": true
    },
    {
      "type": "text",
      "id": "social_media_title",
      "label": "Heading",
      "default": "Follow-us on social media!"
    },
    {
      "type": "select",
      "id": "copyright_text_position_desktop",
      "label": "t:sections.dbtfy-footer.settings.copyright_text_position_desktop.label",
      "default": "text-left",
      "options": [
        { "value": "text-left", "label": "t:general.settings.alignment.option__4" },
        { "value": "text-center", "label": "t:general.settings.alignment.option__5" },
        { "value": "text-right", "label": "t:general.settings.alignment.option__6" }
      ],
      "info": "t:sections.dbtfy-footer.settings.copyright_text_position_desktop.info"
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-footer.settings.localization_heading.content"
    },
    {
      "type": "checkbox",
      "id": "show_localization",
      "label": "t:sections.dbtfy-footer.settings.show_localization.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-footer.settings.payment_icons.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "label": "t:sections.dbtfy-footer.settings.payment_icons.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-footer.settings.show_business_info.header"
    },
    {
      "type": "checkbox",
      "id": "show_business_registration",
      "label": "t:sections.dbtfy-footer.settings.show_business_info.label",
      "default": true
    },
    {
      "type": "inline_richtext",
      "id": "business_registration_heading",
      "label": "t:general.settings.heading",
      "default": "t:sections.dbtfy-footer.settings.business_info.default"
    },
    {
      "type": "richtext",
      "id": "business_registration",
      "label": "t:sections.dbtfy-footer.settings.business_info_number.label"
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-footer.settings.policy_links.content"
    },
    {
      "type": "checkbox",
      "id": "show_policy_links",
      "label": "t:sections.dbtfy-footer.settings.policy_links.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-footer.settings.credentials.content"
    },
    {
      "type": "checkbox",
      "id": "show_shopify_powered",
      "label": "t:sections.dbtfy-footer.settings.credentials.label",
      "default": true
    },
    {
      "type": "inline_richtext",
      "id": "custom_credential",
      "label": "t:sections.dbtfy-footer.settings.credentials_heading.label",
      "default": "t:sections.dbtfy-footer.settings.credentials_heading.default",
      "info": "t:sections.dbtfy-footer.settings.credentials_heading.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-2"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "_footer_block"
    }
  ]
}
{% endschema %}
