{%- if request.design_mode or settings.dbtfy_parallax_image -%}
  {%- render 'widget-blocker',
    enabled: settings.dbtfy_parallax_image,
    section: section,
    name: 'Parallax Image',
    type: '⚡ Paid Sections'
  -%}
  {%- liquid
    assign overlay_opacity = section.settings.overlay_opacity | divided_by: 100.0

    assign desktop_media = ''
    assign desktop_media_type = ''
    assign mobile_media = ''
    assign mobile_media_type = ''

    if section.settings.desktop_video != blank
      assign desktop_media = section.settings.desktop_video
      assign desktop_media_type = 'video'
      assign mobile_media = section.settings.desktop_video
      assign mobile_media_type = 'video'
    elsif section.settings.desktop_image != blank
      assign desktop_media = section.settings.desktop_image
      assign desktop_media_type = 'image'
      assign mobile_media = section.settings.desktop_image
      assign mobile_media_type = 'image'
    endif

    if section.settings.mobile_video != blank
      assign mobile_media = section.settings.mobile_video
      assign mobile_media_type = 'video'
      if desktop_media == blank
        assign desktop_media = section.settings.mobile_video
        assign desktop_media_type = 'video'
      endif
    elsif section.settings.mobile_image != blank
      assign mobile_media = section.settings.mobile_image
      assign mobile_media_type = 'image'
      if desktop_media == blank
        assign desktop_media = section.settings.mobile_image
        assign desktop_media_type = 'image'
      endif
    endif
  %}

  {%- style -%}
    #dbtfy-parallax-image-{{ section.id }} .dbtfy-parallax-image-wrapper::before {
      background-color: {{ section.settings.overlay_color | color_modify: 'alpha', overlay_opacity }};
      backdrop-filter: blur({{ section.settings.overlay_blur | append: 'px' }});
    }

    #dbtfy-parallax-image-{{ section.id }} .dbtfy-parallax-image-content {
      max-width: {{ section.settings.max_width | append: 'px' }};
    }

    {% if section.settings.overlay_top_bottom_border %}
      #dbtfy-parallax-image-{{ section.id }} .dbtfy-parallax-image-outter::before,
      #dbtfy-parallax-image-{{ section.id }} .dbtfy-parallax-image-outter::after {
        background: rgba(var(--color-foreground), .1);
      }
    {% endif %}

    {% if section.settings.height_mobile == 'custom' %}
      #dbtfy-parallax-image-{{ section.id }} .dbtfy-parallax-image-wrapper{
        height: {{ section.settings.custom_height_mobile | append: 'px' }};
      }
    {% endif %}

    {% if section.settings.height == "custom" %}
      @media (min-width: 768px) {
        #dbtfy-parallax-image-{{ section.id }} .dbtfy-parallax-image-wrapper{
          height: {{ section.settings.custom_height | append: 'px' }};
        }
      }
    {% endif %}
  {%- endstyle -%}

  <link rel="stylesheet" href="{{ 'dbtfy-parallax-image.css' | asset_url }}" media="print" onload="this.media='all'">

  {% render 'section-padding', section: section %}

  <dbtfy-parallax-image
    id="dbtfy-parallax-image-{{ section.id }}"
    class="dbtfy-parallax-image color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient show-on--{{ section.settings.show_on }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    data-parallax-orientation="{{ section.settings.parallax_orientation }}"
    data-parallax-scale="{{ section.settings.parallax_scale }}"
    role="section"
  >
    <div class="dbtfy-parallax-image-outter">
      <div class="dbtfy-parallax-image-wrapper section-{{ section.id }}-padding desktop-height--{{ section.settings.height }} mobile-height--{{ section.settings.height_mobile }}">
        <div class="dbtfy-parallax-image-content {{ section.settings.container_size }}">
          {% content_for 'block', type: '_heading', id: 'heading' %}
        </div>

        <div class="dbtfy-parallax-image-mobile">
          {% if mobile_media_type == 'image' %}
            <img
              class="parallax-img-init parallax-item"
              src="{{ mobile_media | image_url: width: '800' }}"
              alt=" {{ mobile_media.alt }}"
              width="800"
              height="{{ 800 | divided_by: mobile_media.aspect_ratio | round }}"
              loading="lazy"
            >
          {% elsif mobile_media_type != '' %}
            {{-
              mobile_media
              | video_tag:
                autoplay: true,
                loop: true,
                muted: true,
                image_size: '800x',
                class: 'parallax-img-init parallax-item',
                loading: 'lazy'
            -}}
          {% endif %}
        </div>

        <div class="dbtfy-parallax-image-desktop">
          {% if desktop_media_type == 'image' %}
            <img
              src="{{ desktop_media | image_url: width: '1800' }}"
              alt=" {{ desktop_media.alt }}"
              class="parallax-img-init parallax-item"
              width="1800"
              height="{{ 1800 | divided_by: section.settings.desktop_image.aspect_ratio | round }}"
              loading="lazy"
            >
          {% elsif desktop_media_type != '' %}
            {{-
              desktop_media
              | video_tag:
                autoplay: true,
                loop: true,
                muted: true,
                image_size: '1800x',
                class: 'parallax-img-init parallax-item',
                loading: 'lazy'
            -}}
          {% endif %}
        </div>
      </div>
    </div>
  </dbtfy-parallax-image>
  <script src="{{ 'dbtfy-parallax-image.js' | asset_url }}" defer="defer"></script>
{% endif %}

{% schema %}
{
  "name": "t:sections.dbtfy-parallax-image.name",
  "settings": [
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:sections.all.container_size.label",
      "default": "page-width",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "page-full",
          "label": "t:sections.all.container_size.options__2.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "t:general.settings.image_both.info"
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-parallax-image.settings.header__1.content"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.dbtfy-parallax-image.settings.mobile_image.label"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "t:sections.dbtfy-parallax-image.settings.desktop_image.label"
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-parallax-image.settings.header__2.content"
    },
    {
      "type": "video",
      "id": "mobile_video",
      "label": "t:sections.dbtfy-parallax-image.settings.mobile_video.label"
    },
    {
      "type": "video",
      "id": "desktop_video",
      "label": "t:sections.dbtfy-parallax-image.settings.desktop_video.label"
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-parallax-image.settings.header__3.content"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:sections.dbtfy-parallax-image.settings.overlay_color.label",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:sections.dbtfy-parallax-image.settings.overlay_opacity.label",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 30,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "overlay_blur",
      "label": "t:sections.dbtfy-parallax-image.settings.overlay_blur.label",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "overlay_top_bottom_border",
      "label": "t:sections.dbtfy-parallax-image.settings.overlay_top_bottom_border.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-parallax-image.settings.header__4.content"
    },
    {
      "type": "select",
      "id": "parallax_orientation",
      "label": "t:sections.dbtfy-parallax-image.settings.parallax_orientation.label",
      "default": "up",
      "options": [
        { "value": "up", "label": "t:sections.dbtfy-parallax-image.settings.parallax_orientation.options.up.label" },
        {
          "value": "right",
          "label": "t:sections.dbtfy-parallax-image.settings.parallax_orientation.options.right.label"
        },
        {
          "value": "down",
          "label": "t:sections.dbtfy-parallax-image.settings.parallax_orientation.options.down.label"
        },
        {
          "value": "left",
          "label": "t:sections.dbtfy-parallax-image.settings.parallax_orientation.options.left.label"
        },
        {
          "value": "up left",
          "label": "t:sections.dbtfy-parallax-image.settings.parallax_orientation.options.up_left.label"
        },
        {
          "value": "up right",
          "label": "t:sections.dbtfy-parallax-image.settings.parallax_orientation.options.up_right.label"
        },
        {
          "value": "down left",
          "label": "t:sections.dbtfy-parallax-image.settings.parallax_orientation.options.down_left.label"
        },
        {
          "value": "down right",
          "label": "t:sections.dbtfy-parallax-image.settings.parallax_orientation.options.down_right.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "parallax_scale",
      "label": "t:sections.dbtfy-parallax-image.settings.parallax_scale.label",
      "default": 2,
      "min": 1,
      "max": 4,
      "step": 0.1
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "medium",
      "label": "t:sections.dbtfy-parallax-image.settings.height.desktop"
    },
    {
      "type": "range",
      "id": "custom_height",
      "label": "t:sections.dbtfy-parallax-image.settings.height.custom_desktop",
      "unit": "px",
      "default": 800,
      "min": 400,
      "max": 2000,
      "step": 50
    },
    {
      "type": "select",
      "id": "height_mobile",
      "label": "t:sections.dbtfy-parallax-image.settings.height.mobile",
      "default": "medium",
      "options": [
        { "value": "small", "label": "t:general.settings.size.option__3" },
        { "value": "medium", "label": "t:general.settings.size.option__5" },
        { "value": "large", "label": "t:general.settings.size.option__6" },
        { "value": "custom", "label": "Custom" }
      ]
    },
    {
      "type": "range",
      "id": "custom_height_mobile",
      "label": "t:sections.dbtfy-parallax-image.settings.height.custom_mobile",
      "unit": "px",
      "default": 400,
      "min": 200,
      "max": 1500,
      "step": 50
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-parallax-image.settings.header__5.content"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "t:sections.dbtfy-parallax-image.settings.max_width.label",
      "info": "t:sections.dbtfy-parallax-image.settings.max_width.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-2"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "presets": [
    {
      "name": "t:sections.dbtfy-parallax-image.name",
      "blocks": [
        {
          "type": "_heading",
          "static": true,
          "id": "heading",
          "settings": { "padding___bottom": "custom", "custom_padding_bottom": 8 },
          "blocks": [
            {
              "type": "_caption",
              "settings": {
                "caption": "Developed by Debutify",
                "alignment": "text-center"
              }
            },
            { "type": "_title", "settings": { "title": "Parallax Image", "alignment": "text-center" } },
            {
              "type": "_description",
              "settings": {
                "description": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
                "alignment": "text-center"
              }
            },
            {
              "type": "_double_button",
              "settings": {
                "alignment": "justify-content-center",
                "button_label_1": "Primary Button",
                "button_label_2": "Secondary Button",
                "button_style_2": "button button--secondary"
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
