{%- render 'widget-blocker',
  enabled: settings.dbtfy_menu_bar,
  section: section,
  name: 'Menu bar',
  type: '⚡ Paid Sections'
-%}
{%- if request.design_mode or settings.dbtfy_menu_bar -%}
  {%- if section.settings.menu != blank -%}
    {{ 'dbtfy-menu-bar.css' | asset_url | stylesheet_tag: preload: true }}
    {% render 'section-padding', section: section %}

    {%- style -%}
      .dbtfy-menu-bar .list-menu--inline{
        justify-content: {{ section.settings.dbtfy_menu_bar_link_alignment }};
      }
    {%- endstyle -%}

    <dbtfy-menu-bar>
      <div>
        <div
          class="
            dbtfy-menu-bar color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient
            show-on--{{section.settings.show_on}}
            section-{{ section.id }}-padding
            dbtfy-menu-bar--{{ section.settings.dbtfy_menu_bar_link_alignment }}
            {% case section.settings.dbtfy_menu_bar_hover_style %}
              {% when 'bg' %}
                dbtfy-menu-bar__hover--bg
              {% when 'text' %}
                dbtfy-menu-bar__hover--text
              {% when 'underline' %}
                dbtfy-menu-bar__hover--underline
              {% when 'none' %}
                dbtfy-menu-bar__hover--none
            {% endcase %}
            {% if section.settings.dbtfy_menu_bar_border %}
              dbtfy-menu-bar--border
            {% endif %}
             {% if section.settings.dbtfy_menu_bar_link_style %}
              dbtfy-menu-bar--{{ section.settings.dbtfy_menu_bar_link_style }}
            {% endif %}
          "
        >
          {%
            render 'header-dropdown-menu',
            label: section.settings.dbtfy_menu_bar_featured_link_label,
            color: section.settings.dbtfy_menu_bar_featured_link_color.
          %}
        </div>
      </div>
    </dbtfy-menu-bar>
  {% endif %}
{% endif %}
{% schema %}
{
  "name": "Menu bar",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:sections.dbtfy-menu-bar.name"
    },
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "dbtfy_menu_bar_link_alignment",
      "label": "t:sections.dbtfy-menu-bar.settings.dbtfy_menu_bar_link_alignment.label",
      "default": "center",
      "options": [
        {
          "value": "start",
          "label": "t:general.settings.alignment.option__8"
        },
        {
          "value": "center",
          "label": "t:general.settings.alignment.option__5"
        },
        {
          "value": "end",
          "label": "t:general.settings.alignment.option__9"
        }
      ]
    },
    {
      "type": "select",
      "id": "dbtfy_menu_bar_link_style",
      "label": "t:sections.dbtfy-menu-bar.settings.dbtfy_menu_bar_link_style.label",
      "default": "button",
      "options": [
        {
          "value": "button",
          "label": "t:sections.all.button.label"
        },
        {
          "value": "link",
          "label": "t:sections.dbtfy-menu-bar.settings.dbtfy_menu_bar_link_style.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "dbtfy_menu_bar_border",
      "label": "t:sections.dbtfy-menu-bar.settings.dbtfy_menu_bar_border.label",
      "default": true
    },
    {
      "type": "select",
      "id": "dbtfy_menu_bar_hover_style",
      "label": "t:sections.dbtfy-menu-bar.settings.dbtfy_menu_bar_hover_style.label",
      "default": "none",
      "options": [
        {
          "value": "underline",
          "label": "t:sections.dbtfy-menu-bar.settings.dbtfy_menu_bar_hover_style.options__1.label"
        },
        {
          "value": "bg",
          "label": "t:sections.dbtfy-menu-bar.settings.dbtfy_menu_bar_hover_style.options__2.label"
        },
        {
          "value": "text",
          "label": "t:sections.dbtfy-menu-bar.settings.dbtfy_menu_bar_hover_style.options__3.label"
        },
        {
          "value": "none",
          "label": "t:sections.dbtfy-menu-bar.settings.dbtfy_menu_bar_hover_style.options__4.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-menu-bar.settings.featured_link.content",
      "info": "t:sections.dbtfy-menu-bar.settings.featured_link.info"
    },
    {
      "type": "text",
      "id": "dbtfy_menu_bar_featured_link_label",
      "label": "t:sections.dbtfy-menu-bar.settings.featured_link.label"
    },
    {
      "type": "color",
      "id": "dbtfy_menu_bar_featured_link_color",
      "label": "t:sections.dbtfy-menu-bar.settings.dbtfy_menu_bar_featured_link_color.label",
      "default": "#755AFF"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Menu bar"
    }
  ]
}
{% endschema %}
