{%- render 'widget-blocker',
  enabled: settings.dbtfy_recently_viewed,
  section: section,
  name: 'Recently viewed products',
  type: '⚡ Paid Sections'
-%}
{%- if request.design_mode or settings.dbtfy_recently_viewed -%}
  {% render 'section-padding', section: section %}

  <link rel="stylesheet" href="{{ 'dbtfy-recently-viewed.css' | asset_url }}" media="print" onload="this.media='all'">

  {% liquid
    assign slider_on = 'slider slider--everywhere'

    capture slider_parameters
      echo ' data-autoplay="' | append: section.settings.enable_autoplay | append: '"'
      echo ' data-speed="' | append: section.settings.autoplay_speed | append: '"'
      echo ' data-loop="' | append: section.settings.enable_loop | append: '"'
      echo ' data-dots="' | append: section.settings.enable_dots | append: '"'
      echo ' data-arrows="' | append: section.settings.enable_arrows | append: '"'
    endcapture

    if section.settings.slider_on == 'none'
      assign slider_on = ''
      assign slider_parameters = ''
    elsif section.settings.slider_on != 'both'
      assign slider_on = 'slider slider--' | append: section.settings.slider_on
    endif

    assign arrow_class = ''
    if section.settings.arrow_position == 'middle'
      assign arrow_class = 'slideshow__controls slideshow__controls--top'
    endif

    render 'custom-arrow-style'
  %}

  {% assign media_aspect_ratio = section.settings.image_ratio %}
  {% if media_aspect_ratio and media_aspect_ratio != 'inherit' %}
    {% assign image_aspect_ratio = media_aspect_ratio %}
    {% if media_aspect_ratio == 'circle' %}
      {% assign image_aspect_ratio = '100%' %}
    {% endif %}
    {% style %}
      #shopify-section-{{ section.id }}{
        --dbtfy-image-crop-ratio: {{ image_aspect_ratio }};
      }
    {% endstyle %}
  {% else %}
    {% assign media_aspect_ratio = settings.dbtfy_product_image_crop_ratio %}
  {% endif %}

  {% assign image_crop_position = section.settings.image_crop_position %}
  {% if image_crop_position and image_crop_position != 'inherit' %}
    {% style %}
      #shopify-section-{{ section.id }}{
        --dbtfy-image-crop-position: {{ image_crop_position }};
      }
    {% endstyle %}
  {% endif %}

  <div
    class="section-{{ section.id }}-padding color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient show-on--{{section.settings.show_on}}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  >
    <dbtfy-recently-viewed
      data-product-to-show="{{ section.settings.products_to_show }}"
      data-image-ratio="{{ media_aspect_ratio }}"
    >
      <div class="page-width">
        <div class="dbtfy-recently-viewed-heading">
          {% content_for 'block', type: '_heading', id: 'heading' %}
        </div>
        <script id="recently-viewed-slider" type="text/template">
          <dbtfy-slider-component
            {{ slider_parameters }}
          >
            <div
              id="Slider-{{ section.id }}"
              data-item-id="Slide-{{ section.id }}"
              class="{{ slider_on }} dbtfy-recently-viewed-section--items grid grid--{{ section.settings.grid_col_desktop }}-col-desktop grid--{{ section.settings.grid_col_mobile }}-col"
            ></div>
            {% render 'dbtfy-arrow', class: arrow_class %}
          </dbtfy-slider-component>
        </script>

        <div class="dbtfy-recently-viewed-empty text-center">
          {% if section.settings.empty_heading != blank %}
            <{{ section.settings.empty_heading_size }}>
              {{ section.settings.empty_heading }}
            </{{ section.settings.empty_heading_size }}>
          {% endif %}
          <a href="{{ routes.all_products_collection_url }}" class="button button--primary">
            {{ 'general.continue_shopping' | t }}
          </a>
        </div>
      </div>
    </dbtfy-recently-viewed>
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.dbtfy-recently-viewed.name",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-recently-viewed.settings.empty_recently_viewed.content"
    },
    {
      "type": "text",
      "id": "empty_heading",
      "label": "t:sections.dbtfy-recently-viewed.settings.empty_recently_viewed.label",
      "default": "t:sections.dbtfy-recently-viewed.settings.empty_recently_viewed.default"
    },
    {
      "type": "select",
      "id": "empty_heading_size",
      "options": [
        {
          "value": "h1",
          "label": "t:general.settings.heading_tag.h1"
        },
        {
          "value": "h2",
          "label": "t:general.settings.heading_tag.h2"
        },
        {
          "value": "h3",
          "label": "t:general.settings.heading_tag.h3"
        },
        {
          "value": "h4",
          "label": "t:general.settings.heading_tag.h4"
        },
        {
          "value": "h5",
          "label": "t:general.settings.heading_tag.h5"
        },
        {
          "value": "h6",
          "label": "t:general.settings.heading_tag.h6"
        }
      ],
      "default": "h2",
      "label": "t:general.settings.heading_size"
    },
    {
      "type": "header",
      "content": "Grid"
    },
    {
      "type": "range",
      "id": "grid_col_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "t:sections.dbtfy-recently-viewed.settings.grid_col_desktop.label",
      "default": 4
    },
    {
      "type": "select",
      "id": "grid_col_mobile",
      "label": "t:sections.dbtfy-recently-viewed.settings.grid_col_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "default": "inherit",
      "label": "t:general.settings.style.image_ratio",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "56.25%",
          "label": "t:settings_schema.image_crop.ratio.options.option_1"
        },
        {
          "value": "66.666%",
          "label": "t:settings_schema.image_crop.ratio.options.option_2"
        },
        {
          "value": "75%",
          "label": "t:settings_schema.image_crop.ratio.options.option_3"
        },
        {
          "value": "100%",
          "label": "t:settings_schema.image_crop.ratio.options.option_4"
        },
        {
          "value": "133.33%",
          "label": "t:settings_schema.image_crop.ratio.options.option_5"
        },
        {
          "value": "150%",
          "label": "t:settings_schema.image_crop.ratio.options.option_6"
        },
        {
          "value": "circle",
          "label": "t:general.settings.style.circle"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_crop_position",
      "label": "t:settings_schema.image_crop.position",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "top left",
          "label": "t:general.settings.position.option__1"
        },
        {
          "value": "top center",
          "label": "t:general.settings.position.option__2"
        },
        {
          "value": "top right",
          "label": "t:general.settings.position.option__3"
        },
        {
          "value": "center left",
          "label": "t:general.settings.position.option__4"
        },
        {
          "value": "center center",
          "label": "t:general.settings.position.option__5"
        },
        {
          "value": "center right",
          "label": "t:general.settings.position.option__6"
        },
        {
          "value": "bottom left",
          "label": "t:general.settings.position.option__7"
        },
        {
          "value": "bottom center",
          "label": "t:general.settings.position.option__8"
        },
        {
          "value": "bottom right",
          "label": "t:general.settings.position.option__9"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.settings.slider.slider_settings"
    },
    {
      "type": "select",
      "id": "slider_on",
      "default": "both",
      "label": "t:general.settings.slider.Enable_slider",
      "options": [
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        },
        {
          "value": "desktop",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.show_on.options__4.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "default": false,
      "label": "t:general.settings.slider.enable_autoplay"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:general.settings.slider.autoplay_speed",
      "default": 5,
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "enable_loop",
      "default": true,
      "label": "Loop",
      "info": "Continue from the last slide to the first slide"
    },
    {
      "type": "checkbox",
      "id": "enable_dots",
      "default": true,
      "label": "t:general.settings.slider.show_dots"
    },
    {
      "type": "checkbox",
      "id": "enable_arrows",
      "default": true,
      "label": "t:general.settings.slider.show_arrows"
    },
    {
      "type": "select",
      "id": "arrow_color",
      "default": "inherit",
      "label": "t:general.settings.slider.arrow_color",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "color",
      "id": "custom_arrow_color",
      "label": "t:general.settings.slider.custom-arrow-color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "custom_arrow_background_color",
      "label": "t:general.settings.slider.custom-arrow-bg-color",
      "default": "#7559ff"
    },
    {
      "type": "select",
      "id": "arrow_position",
      "default": "middle",
      "label": "Arrow position",
      "options": [
        {
          "value": "middle",
          "label": "t:general.settings.alignment.option__2"
        },
        {
          "value": "bottom",
          "label": "t:general.settings.alignment.option__3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.dbtfy-recently-viewed.name",
      "blocks": [
        {
          "type": "_heading",
          "static": true,
          "id": "heading",
          "blocks": [
            {
              "type": "_title",
              "settings": {
                "title": "Recently viewed products"
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
