{%- render 'widget-blocker',
  enabled: settings.dbtfy_text_columns_with_images,
  section: section,
  name: 'Text Column with Image',
  type: '⚡ Paid Sections'
-%}
{%- if request.design_mode or settings.dbtfy_text_columns_with_images -%}
  <link rel="stylesheet" href="{{ 'dbtfy-text-col-with-img.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">

  {%- render 'section-padding', section: section -%}

  {% liquid
    assign slider_on = 'slider slider--everywhere'

    capture slider_parameters
      echo ' data-autoplay="' | append: section.settings.enable_autoplay | append: '"'
      echo ' data-speed="' | append: section.settings.autoplay_speed | append: '"'
      echo ' data-loop="' | append: section.settings.enable_loop | append: '"'
      echo ' data-dots="' | append: section.settings.enable_dots | append: '"'
      echo ' data-arrows="' | append: section.settings.enable_arrows | append: '"'
    endcapture

    if section.settings.slider_on == 'none'
      assign slider_on = ''
      assign slider_parameters = ''
    elsif section.settings.slider_on != 'both'
      assign slider_on = 'slider slider--' | append: section.settings.slider_on
    endif

    assign arrow_class = ''
    if section.settings.arrow_position == 'middle'
      assign arrow_class = 'slideshow__controls slideshow__controls--top'
    endif

    render 'custom-arrow-style'
  %}

  <dbtfy-text-col-with-img>
    <div class="dbtfy-text-col-with-img color-{{ section.settings.custom_color_scheme }} {{ section.settings.container_size }} show-on--{{ section.settings.show_on }} dbtfy-color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}">
      <div
        class="page-width section-{{ section.id }}-padding {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        <div class="title-wrapper--no-top-margin">
          {% content_for 'block', type: '_heading', id: 'heading' %}
        </div>

        <dbtfy-slider-component
          {{ slider_parameters }}
        >
          <ul
            class="{{slider_on}} width-auto-adjusted dbtfy-text-col-with-img-list contains-content-container grid grid--{{ section.settings.columns_mobile }}-col grid--{{ section.settings.columns_desktop }}-col-desktop"
            id="Slider-{{ section.id }}"
            role="list"
          >
            {% content_for 'block', type: '_dbtfy-text-col-with-img', id: 'dbtfy-text-col-with-img' %}
          </ul>
          {% render 'dbtfy-arrow', class: arrow_class %}
        </dbtfy-slider-component>
        <div class="dbtfy-text-col-with-img-button center">
          {%- if section.settings.button_label != blank -%}
            {% assign button_size = section.settings.button_size %}
            {% if button_size == 'inherit' %}
              {% assign button_size = settings.button_size %}
            {% endif %}
            <a
              class="{{ section.settings.button_style }} {{ button_size }}"
              {% if section.settings.button_link == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ section.settings.button_link }}"
              {% endif %}
            >
              <span>
                {{ section.settings.button_label | escape }}
              </span>
            </a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </dbtfy-text-col-with-img>
{% endif %}

{% schema %}
{
  "name": "t:sections.dbtfy_text_col_with_img.name",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "show_on",
      "label": "Show on",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ],
      "default": "both"
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:sections.all.container_size.label",
      "default": "page-width",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "",
          "label": "t:sections.all.container_size.options__2.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "t:sections.dbtfy_text_col_with_img.settings.image_width.options__1.label"
        },
        {
          "value": "half",
          "label": "t:sections.dbtfy_text_col_with_img.settings.image_width.options__2.label"
        },
        {
          "value": "full",
          "label": "t:sections.dbtfy_text_col_with_img.settings.image_width.options__3.label"
        }
      ],
      "default": "full",
      "label": "t:sections.dbtfy_text_col_with_img.settings.image_width.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:general.settings.style.adapt_to_image"
        },
        {
          "value": "portrait",
          "label": "t:general.settings.style.portrait"
        },
        {
          "value": "square",
          "label": "t:general.settings.style.square"
        },
        {
          "value": "circle",
          "label": "t:general.settings.style.circle"
        }
      ],
      "default": "adapt",
      "label": "t:general.settings.style.image_ratio"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.dbtfy_text_col_with_img.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.multicolumn.settings.columns_mobile.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:general.settings.alignment.option__4"
        },
        {
          "value": "center",
          "label": "t:general.settings.alignment.option__5"
        }
      ],
      "default": "center",
      "label": "t:sections.dbtfy_text_col_with_img.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "primary",
          "label": "t:sections.dbtfy_text_col_with_img.settings.background_style.options__2.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.dbtfy_text_col_with_img.settings.background_style.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.dbtfy_text_col_with_img.settings.button_label.default",
      "label": "t:sections.dbtfy_text_col_with_img.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.dbtfy_text_col_with_img.settings.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.all.button.label",
      "options": [
        {
          "value": "link underlined-link button--link",
          "label": "t:sections.all.button.options__1.label"
        },
        {
          "value": "button button--tertiary",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "button button--primary",
          "label": "t:sections.all.button.options__3.label"
        },
        {
          "value": "button button--secondary",
          "label": "t:sections.all.button.options__4.label"
        }
      ],
      "default": "button button--primary"
    },
    {
      "type": "select",
      "id": "button_size",
      "default": "inherit",
      "label": "t:general.settings.size.label",
      "options": [
        { "value": "inherit", "label": "t:general.settings.size.option__1" },
        { "value": "button--small", "label": "t:general.settings.size.option__3" },
        { "value": "button--medium", "label": "t:general.settings.size.option__5" },
        { "value": "", "label": "t:general.settings.size.option__10" }
      ]
    },
    {
      "type": "header",
      "content": "t:general.settings.slider.slider_settings"
    },
    {
      "type": "select",
      "id": "slider_on",
      "default": "both",
      "label": "t:general.settings.slider.Enable_slider",
      "options": [
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        },
        {
          "value": "desktop",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.show_on.options__4.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "default": false,
      "label": "t:general.settings.slider.enable_autoplay"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:general.settings.slider.autoplay_speed",
      "default": 5,
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "enable_loop",
      "default": true,
      "label": "Loop",
      "info": "Continue from the last slide to the first slide"
    },
    {
      "type": "checkbox",
      "id": "enable_dots",
      "default": true,
      "label": "t:general.settings.slider.show_dots"
    },
    {
      "type": "checkbox",
      "id": "enable_arrows",
      "default": true,
      "label": "t:general.settings.slider.show_arrows"
    },
    {
      "type": "select",
      "id": "arrow_color",
      "default": "inherit",
      "label": "t:general.settings.slider.arrow_color",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "color",
      "id": "custom_arrow_color",
      "label": "t:general.settings.slider.custom-arrow-color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "custom_arrow_background_color",
      "label": "t:general.settings.slider.custom-arrow-bg-color",
      "default": "#7559ff"
    },
    {
      "type": "select",
      "id": "arrow_position",
      "default": "middle",
      "label": "Arrow position",
      "options": [
        {
          "value": "middle",
          "label": "t:general.settings.alignment.option__2"
        },
        {
          "value": "bottom",
          "label": "t:general.settings.alignment.option__3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "_dbtfy-text-col-with-img-block"
    }
  ],
  "presets": [
    {
      "name": "t:sections.dbtfy_text_col_with_img.presets.name",
      "blocks": [
        {
          "type": "_heading",
          "static": true,
          "id": "heading",
          "blocks": [{ "type": "_title", "settings": { "title": "Featured columns" } }]
        },
        {
          "type": "_dbtfy-text-col-with-img",
          "static": true,
          "id": "dbtfy-text-col-with-img",
          "blocks": [
            { "type": "_dbtfy-text-col-with-img-block" },
            { "type": "_dbtfy-text-col-with-img-block" },
            { "type": "_dbtfy-text-col-with-img-block" },
            { "type": "_dbtfy-text-col-with-img-block" },
            { "type": "_dbtfy-text-col-with-img-block" },
            { "type": "_dbtfy-text-col-with-img-block" }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
