{%- render 'widget-blocker',
  enabled: settings.dbtfy_extended_collections_list,
  name: 'Extended Collection list',
  type: '⚡ Paid Sections'
-%}

{%- if request.design_mode or settings.dbtfy_extended_collections_list -%}
  <link
    rel="stylesheet"
    href="{{ 'dbtfy-extended-collection-list.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
  <link rel="stylesheet" href="{{ 'section-collection-list.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">

  {%- render 'section-padding', section: section -%}

  {% liquid
    capture slider_parameters
      echo ' data-autoplay="' | append: section.settings.enable_autoplay | append: '"'
      echo ' data-speed="' | append: section.settings.autoplay_speed | append: '"'
      echo ' data-loop="' | append: section.settings.enable_loop | append: '"'
      echo ' data-dots="' | append: section.settings.enable_dots | append: '"'
      echo ' data-arrows="' | append: section.settings.enable_arrows | append: '"'
    endcapture

    assign slider_on = 'slider slider--everywhere'
    if section.settings.slider_on == 'none'
      assign slider_on = ''
      assign slider_parameters = ''
    elsif section.settings.slider_on != 'both'
      assign slider_on = 'slider slider--' | append: section.settings.slider_on
    endif

    assign arrow_class = ''
    if section.settings.arrow_position == 'middle'
      assign arrow_class = 'slideshow__controls slideshow__controls--top'
    endif

    render 'custom-arrow-style'
  %}

  {% style %}
    .extended-collection-card .card__information{
    gap: {{ section.settings.content_spacing }}px;
    }
    .extended-collection-card .overlay:after{
    opacity: {{ section.settings.overlay | divided_by: 100.0 }};
    }
  {% endstyle %}

  <dbtfy-extended-collection-list>
    <div class="color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient show-on--{{ section.settings.show_on }} section-{{ section.id }}-padding">
      <div class="collection-list-wrapper {{ section.settings.container_size }}{% if section.settings.title == blank %} no-heading{% endif %}{% if section.settings.show_view_all == false or section.blocks.size > collections.size %} no-mobile-link{% endif %}">
        <div class="title-wrapper--no-top-margin">
          {% content_for 'block', type: '_heading', id: 'heading' %}
        </div>

        <dbtfy-slider-component
          class="slider-mobile-gutter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ slider_parameters }}
        >
          <ul
            class="{{ slider_on }} collection-list contains-card contains-card--collection{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col collection-list--{{ section.blocks.size }}-items"
            id="Slider-{{ section.id }}"
            role="list"
          >
            {% content_for 'block', type: '_extended-collection-list', id: 'extended-collection-list' %}
          </ul>
          {% render 'dbtfy-arrow', class: arrow_class %}
        </dbtfy-slider-component>
        {%- if section.settings.show_view_all -%}
          <div
            class="center collection-list-view-all{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            <a
              href="{{ routes.collections_url }}"
              class="button button--primary"
              id="ViewAllButton-{{ section.id }}"
              aria-labelledby="ViewAllButton-{{ section.id }} SectionHeading-{{ section.id }}"
            >
              {{- 'sections.collection_list.view_all' | t -}}
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>
  </dbtfy-extended-collection-list>
{% endif %}

{% schema %}
{
  "name": "t:sections.extended-collection-list.name",
  "tag": "section",
  "class": "section section-collection-list extended-collection-list",
  "max_blocks": 15,
  "settings": [
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:sections.all.container_size.label",
      "default": "page-width",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "",
          "label": "t:sections.all.container_size.options__2.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:general.settings.style.adapt_to_image"
        },
        {
          "value": "portrait",
          "label": "t:general.settings.style.portrait"
        },
        {
          "value": "square",
          "label": "t:general.settings.style.square"
        }
      ],
      "default": "square",
      "label": "t:general.settings.style.image_ratio"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.collection-list.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "t:sections.collection-list.settings.show_view_all.label"
    },
    {
      "type": "header",
      "content": "t:sections.collection-list.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.collection-list.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.collection-list.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.collection-list.settings.columns_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.extended-collection-list.settings.collection_header.content"
    },
    {
      "type": "checkbox",
      "id": "inside_box",
      "default": true,
      "label": "t:sections.extended-collection-list.settings.inside_box"
    },
    {
      "type": "select",
      "id": "collection_content_alignment",
      "options": [
        {
          "value": "top-left",
          "label": "t:general.settings.position.option__1"
        },
        {
          "value": "top-center",
          "label": "t:general.settings.position.option__2"
        },
        {
          "value": "top-right",
          "label": "t:general.settings.position.option__3"
        },
        {
          "value": "middle-left",
          "label": "t:general.settings.position.option__4"
        },
        {
          "value": "middle-center",
          "label": "t:general.settings.position.option__5"
        },
        {
          "value": "middle-right",
          "label": "t:general.settings.position.option__6"
        },
        {
          "value": "bottom-left",
          "label": "t:general.settings.position.option__7"
        },
        {
          "value": "bottom-center",
          "label": "t:general.settings.position.option__8"
        },
        {
          "value": "bottom-right",
          "label": "t:general.settings.position.option__9"
        }
      ],
      "default": "middle-center",
      "label": "t:general.settings.box_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_title",
      "label": "t:sections.extended-collection-list.settings.show_collection_title.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_product_count",
      "label": "t:sections.extended-collection-list.settings.show_collection_product_count.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_animation_on_hover",
      "label": "t:sections.extended-collection-list.settings.enable_animation_on_hover.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_button",
      "label": "t:sections.extended-collection-list.settings.show_collection_button.label",
      "default": true
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.dbtfy_result_section.settings.button_style.label",
      "default": "button button--primary",
      "options": [
        {
          "value": "link underlined-link button--link",
          "label": "t:sections.all.button.options__1.label"
        },
        {
          "value": "button button--tertiary",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "button button--primary",
          "label": "t:sections.all.button.options__3.label"
        },
        {
          "value": "button button--secondary",
          "label": "t:sections.all.button.options__4.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "button_size",
      "default": "inherit",
      "label": "t:settings_schema.buttons.size",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "button--small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "button--medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "",
          "label": "t:general.settings.size.option__10"
        }
      ]
    },
    {
      "type": "range",
      "id": "content_spacing",
      "label": "t:sections.extended-collection-list.settings.spacing_label",
      "unit": "px",
      "min": 0,
      "max": 40,
      "default": 0
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "h1",
          "label": "t:general.settings.heading_tag.h1"
        },
        {
          "value": "h2",
          "label": "t:general.settings.heading_tag.h2"
        },
        {
          "value": "h3",
          "label": "t:general.settings.heading_tag.h3"
        },
        {
          "value": "h4",
          "label": "t:general.settings.heading_tag.h4"
        },
        {
          "value": "h5",
          "label": "t:general.settings.heading_tag.h5"
        },
        {
          "value": "h6",
          "label": "t:general.settings.heading_tag.h6"
        }
      ],
      "default": "h3",
      "label": "t:sections.dbtfy-trust-badges.settings.title-size"
    },
    {
      "type": "range",
      "id": "overlay",
      "label": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.overlay_opacity.label",
      "unit": "%",
      "min": 0,
      "max": 100,
      "default": 60
    },
    {
      "type": "header",
      "content": "t:general.settings.slider.slider_settings"
    },
    {
      "type": "select",
      "id": "slider_on",
      "default": "mobile",
      "label": "t:general.settings.slider.Enable_slider",
      "options": [
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        },
        {
          "value": "desktop",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.show_on.options__4.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "default": false,
      "label": "t:general.settings.slider.enable_autoplay"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:general.settings.slider.autoplay_speed",
      "default": 5,
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "enable_loop",
      "default": true,
      "label": "Loop",
      "info": "Continue from the last slide to the first slide"
    },
    {
      "type": "checkbox",
      "id": "enable_dots",
      "default": true,
      "label": "t:general.settings.slider.show_dots"
    },
    {
      "type": "checkbox",
      "id": "enable_arrows",
      "default": true,
      "label": "t:general.settings.slider.show_arrows"
    },
    {
      "type": "select",
      "id": "arrow_color",
      "default": "inherit",
      "label": "t:general.settings.slider.arrow_color",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "color",
      "id": "custom_arrow_color",
      "label": "t:general.settings.slider.custom-arrow-color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "custom_arrow_background_color",
      "label": "t:general.settings.slider.custom-arrow-bg-color",
      "default": "#7559ff"
    },
    {
      "type": "select",
      "id": "arrow_position",
      "default": "bottom",
      "label": "Arrow position",
      "options": [
        {
          "value": "middle",
          "label": "t:general.settings.alignment.option__2"
        },
        {
          "value": "bottom",
          "label": "t:general.settings.alignment.option__3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "_collection-list-block"
    }
  ],
  "presets": [
    {
      "name": "t:sections.extended-collection-list.name",
      "blocks": [
        {
          "type": "_heading",
          "static": true,
          "id": "heading",
          "blocks": [
            {
              "type": "_title",
              "settings": {
                "title": "Collections"
              }
            }
          ]
        },
        {
          "type": "_extended-collection-list",
          "static": true,
          "id": "extended-collection-list",
          "blocks": [
            {
              "type": "_extended-collection-list-block"
            },
            {
              "type": "_extended-collection-list-block"
            },
            {
              "type": "_extended-collection-list-block"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
