{%- render 'widget-blocker',
	enabled: settings.dbtfy_guarantee,
	section: section,
	name: 'Guarantee',
	type: '⚡ Paid Sections'
-%}
{%- if request.design_mode or settings.dbtfy_guarantee -%}
  <link rel="stylesheet" href="{{ 'dbtfy-guarantee.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
  {%- render 'section-padding', section: section -%}

  <dbtfy-guarantee>
	<div class="dbtfy-guarantee__section color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient show-on--{{ section.settings.show_on }}  section-{{ section.id }}-padding">
	  <div class="{{ section.settings.container_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
		  {% if settings.animations_reveal_on_scroll %}
			data-cascade
		  {% endif %}
	  >
		{% content_for 'block', type: '_heading', id: 'heading' %}

		<div class="grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_per_row_mobile }}-col">
		  {% content_for 'block', type: '_dbtfy-guarantee', id: 'dbtfy-guarantee' %}
		</div>
	  </div>
	</div>
  </dbtfy-guarantee>
{% endif %}
{% schema %}
{
  "name": "t:sections.guarantee.name",
  "settings": [
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:sections.all.container_size.label",
      "default": "page-width",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "",
          "label": "t:sections.all.container_size.options__2.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.collection-list.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "columns_per_row_mobile",
      "label": "t:sections.collection-list.settings.columns_mobile.label",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "t:sections.guarantee.settings.columns_per_row_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.guarantee.settings.columns_per_row_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "presets": [
    {
      "name": "t:sections.guarantee.name",
      "blocks": [
        {
          "type": "_heading",
          "static": true,
          "id": "heading",
          "blocks": [
            {
              "type": "_title",
              "settings": {
                "title": "Guarantee"
              }
            }
          ]
        },
        {
          "type": "_dbtfy-guarantee",
          "static": true,
          "id": "dbtfy-guarantee",
          "blocks": [
            {
              "type": "_dbtfy-guarantee-block",
              "blocks": [
                {
                  "type": "_icon",
                  "settings": {
                    "icon": "lock",
                    "size": "medium",
                    "alignment": "text-center"
                  }
                },
                {
                  "type": "_title",
                  "settings": {
                    "title": "Our guarantee",
                    "size": "h5",
                    "alignment": "text-center"
                  }
                },
                {
                  "type": "_description",
                  "settings": {
                    "description": "<p>Share your guarantees with your customers.</p>",
                    "alignment": "text-center"
                  }
                }
              ]
            },
            {
              "type": "_dbtfy-guarantee-block",
              "blocks": [
                {
                  "type": "_icon",
                  "settings": {
                    "icon": "lock",
                    "size": "medium",
                    "alignment": "text-center"
                  }
                },
                {
                  "type": "_title",
                  "settings": {
                    "title": "Our guarantee",
                    "size": "h5",
                    "alignment": "text-center"
                  }
                },
                {
                  "type": "_description",
                  "settings": {
                    "description": "<p>Share your guarantees with your customers.</p>",
                    "alignment": "text-center"
                  }
                }
              ]
            },
            {
              "type": "_dbtfy-guarantee-block",
              "blocks": [
                {
                  "type": "_icon",
                  "settings": {
                    "icon": "lock",
                    "size": "medium",
                    "alignment": "text-center"
                  }
                },
                {
                  "type": "_title",
                  "settings": {
                    "title": "Our guarantee",
                    "size": "h5",
                    "alignment": "text-center"
                  }
                },
                {
                  "type": "_description",
                  "settings": {
                    "description": "<p>Share your guarantees with your customers.</p>",
                    "alignment": "text-center"
                  }
                }
              ]
            },
            {
              "type": "_dbtfy-guarantee-block",
              "blocks": [
                {
                  "type": "_icon",
                  "settings": {
                    "icon": "lock",
                    "size": "medium",
                    "alignment": "text-center"
                  }
                },
                {
                  "type": "_title",
                  "settings": {
                    "title": "Our guarantee",
                    "size": "h5",
                    "alignment": "text-center"
                  }
                },
                {
                  "type": "_description",
                  "settings": {
                    "description": "<p>Share your guarantees with your customers.</p>",
                    "alignment": "text-center"
                  }
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
