{%- if request.design_mode or settings.dbtfy_lookbook -%}
  {%- render 'widget-blocker',
    enabled: settings.dbtfy_lookbook,
    section: section,
    name: 'Lookbook',
    type: '⚡ Paid Sections'
  -%}
  {%- style -%}
    #dbtfy-lookbook-{{ section.id }} .dbtfy-lookbook-point-list-item button > span {
      animation: dbtfy-lookbook-point-animation-{{ section.id }} 2s infinite;
    }

    #dbtfy-lookbook-{{ section.id }}{
      --point-color: {{ section.settings.point_color }};
      --point-diameter: {{ section.settings.point_diameter | append: 'rem' }};
      --border-radius: {{ section.settings.image_border_radius | append: 'rem' }};
      --tooltip-width: {{ section.settings.tooltip_width | append: 'px' }};
      --tooltip-text-align: {{ section.settings.tooltip_text_align }};
    }

    @keyframes dbtfy-lookbook-point-animation-{{ section.id }} {
      0% { box-shadow: 0 0 0 0px rgba({{ section.settings.point_color | color_to_rgb | remove: 'rgb(' | remove: ')' }}, 0.25); }
      100% { box-shadow: 0 0 0 20px rgba({{ section.settings.point_color | color_to_rgb | remove: 'rgb(' | remove: ')' }}, 0); }
    }
  {%- endstyle -%}
  <link rel="stylesheet" href="{{ 'dbtfy-lookbook.css' | asset_url }}" media="print" onload="this.media='all'">

  {% render 'section-padding', section: section %}

  <dbtfy-lookbook
    id="dbtfy-lookbook-{{ section.id }}"
    class="dbtfy-lookbook color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient isolate show-on--{{ section.settings.show_on }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} section-{{ section.id }}-padding"
  >
    <div class="{{ section.settings.container_size }}">
      <div class="section-header">
        {% content_for 'block', type: '_heading', id: 'heading' %}
      </div>
      <div class="dbtfy-lookbook-inner">
        <div class="img-wrapper medium-hide large-up-hide">
          {% if section.settings.mobile_image == null %}
            {{ 'lifestyle-1' | placeholder_svg_tag }}
          {% else %}
            {% render 'dbtfy-img', img: section.settings.mobile_image %}
          {% endif %}
        </div>
        <div class="img-wrapper small-hide">
          {% if section.settings.desktop_image == null %}
            {{ 'lifestyle-1' | placeholder_svg_tag }}
          {% else %}
            {% render 'dbtfy-img', img: section.settings.desktop_image %}
          {% endif %}
        </div>

        <div class="dbtfy-lookbook-point-list">
          {% content_for 'blocks' %}
        </div>
      </div>
    </div>
  </dbtfy-lookbook>
  <script src="{{ 'floating-ui.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'dbtfy-lookbook.js' | asset_url }}" defer="defer"></script>
{% endif %}

{% schema %}
{
  "name": "t:sections.dbtfy-lookbook.name",
  "settings": [
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:sections.all.container_size.label",
      "default": "",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "",
          "label": "t:sections.all.container_size.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-lookbook.settings.header__2.content"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "t:sections.dbtfy-lookbook.settings.desktop_image.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.dbtfy-lookbook.settings.mobile_image.label"
    },
    {
      "type": "range",
      "id": "image_border_radius",
      "label": "t:sections.dbtfy-lookbook.settings.image_border_radius.label",
      "min": 0,
      "max": 5,
      "step": 0.2,
      "default": 1,
      "unit": "rem"
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-lookbook.settings.header__3.content"
    },
    {
      "type": "color",
      "id": "point_color",
      "label": "t:sections.dbtfy-lookbook.settings.point_color.label",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "point_diameter",
      "label": "t:sections.dbtfy-lookbook.settings.point_diameter.label",
      "unit": "rem",
      "min": 0.2,
      "max": 3,
      "step": 0.1,
      "default": 1
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-lookbook.settings.header__4.content"
    },
    {
      "type": "range",
      "id": "tooltip_width",
      "label": "t:sections.dbtfy-lookbook.settings.tooltip_width.label",
      "default": 260,
      "min": 200,
      "max": 400,
      "step": 20,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "tooltip_text_align",
      "label": "t:sections.dbtfy-lookbook.settings.tooltip_text_align.label",
      "default": "center",
      "options": [
        { "value": "left", "label": "t:sections.dbtfy-lookbook.settings.tooltip_text_align.options__1.label" },
        { "value": "center", "label": "t:sections.dbtfy-lookbook.settings.tooltip_text_align.options__2.label" },
        { "value": "right", "label": "t:sections.dbtfy-lookbook.settings.tooltip_text_align.options__3.label" }
      ]
    },
    {
      "type": "select",
      "id": "tooltip_btn_style",
      "label": "t:sections.dbtfy-lookbook.settings.tooltip_btn_style.label",
      "options": [
        {
          "value": "link underlined-link button--link",
          "label": "t:sections.all.button.options__1.label"
        },
        {
          "value": "button button--tertiary",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "button button--primary",
          "label": "t:sections.all.button.options__3.label"
        },
        {
          "value": "button button--secondary",
          "label": "t:sections.all.button.options__4.label"
        }
      ],
      "default": "button button--primary"
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-2"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "_dbtfy-lookbook-points"
    }
  ],
  "presets": [
    {
      "name": "t:sections.dbtfy-lookbook.name",
      "blocks": [
        {
          "type": "_heading",
          "static": true,
          "id": "heading",
          "blocks": [
            {
              "type": "_title",
              "settings": { "title": "Lookbook", "alignment": "text-center" }
            },
            {
              "type": "_description",
              "settings": {
                "description": "<p>Optional description for this section</p>",
                "alignment": "text-center"
              }
            }
          ]
        },
        {
          "type": "_dbtfy-lookbook-points",
          "blocks": [
            {
              "type": "_dbtfy-lookbook-point",
              "settings": {
                "desktop_pos_left": 15,
                "desktop_pos_top": 41,
                "mobile_pos_left": 15,
                "mobile_pos_top": 41
              }
            },
            {
              "type": "_dbtfy-lookbook-point",
              "settings": {
                "desktop_pos_left": 40,
                "desktop_pos_top": 30,
                "mobile_pos_left": 40,
                "mobile_pos_top": 30
              }
            },
            {
              "type": "_dbtfy-lookbook-point",
              "settings": {
                "desktop_pos_left": 35,
                "desktop_pos_top": 70,
                "mobile_pos_left": 35,
                "mobile_pos_top": 70
              }
            },
            {
              "type": "_dbtfy-lookbook-point",
              "settings": {
                "desktop_pos_left": 62,
                "desktop_pos_top": 48,
                "mobile_pos_left": 62,
                "mobile_pos_top": 48
              }
            },
            {
              "type": "_dbtfy-lookbook-point",
              "settings": {
                "desktop_pos_left": 85,
                "desktop_pos_top": 25,
                "mobile_pos_left": 85,
                "mobile_pos_top": 25
              }
            },
            {
              "type": "_dbtfy-lookbook-point",
              "settings": {
                "desktop_pos_left": 85,
                "desktop_pos_top": 69,
                "mobile_pos_left": 85,
                "mobile_pos_top": 69
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
