{%- render 'widget-blocker', enabled: settings.dbtfy_map, section: section, name: 'Map', type: '⚡ Paid Sections' -%}
{%- if request.design_mode or settings.dbtfy_map -%}
  {%- render 'section-padding', section: section -%}

  <link rel="stylesheet" href="{{ 'dbtfy-map.css' | asset_url }}" media="print" onload="this.media='all'">

  {% style %}
    @media(min-width:749px){
      #shopify-section-{{ section.id }} .dbtfy-map-image{
        object-position: {{ section.settings.image_alignment | replace:"-"," "  }};
      }
    }
  {% endstyle %}

  {% if section.settings.api_key != blank and section.settings.map_address != blank %}
    {% assign dbtfy_map = true %}
  {% else %}
    {% assign dbtfy_map = false %}
  {% endif %}

  <dbtfy-map>
    {% if dbtfy_map %}
      {% # theme-check-disable %}
      <script
        async
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWKZNimNKMs3ZoIa2DpyusdFzGBNPJqok&callback=initMap"
      ></script>
      {% # theme-check-enable %}
    {% endif %}
    <div
      class="section-{{ section.id }}-padding dbtfy-map show-on--{{ section.settings.show_on }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient {% if section.settings.show_content_box %}has-content {% endif %}"
      {% if settings.animations_reveal_on_scroll %}
        data-cascade
      {% endif %}
    >
      {% if section.settings.container_size == 'container' %}
        <div class="page-width">
      {% endif %}
      <div
        class="dbtfy-map__container {% if section.settings.image %}has-background{% endif %} image-position--{{ section.settings.image_alignment }}"
      >
        {% if dbtfy_map %}
          <div class="dbtfy-map-location"></div>
        {% else %}
          {% if section.settings.image != blank %}
            <img
              src="{{ section.settings.image | image_url }}"
              alt="{{ section.settings.image }}"
              class="dbtfy-map-image "
              height="400px"
              width="100%"
            >
          {% else %}
            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg map-placeholder' }}
          {% endif %}
        {% endif %}
        {% if section.settings.show_content_box %}
          <div
            class="dbtfy-map__info__card color-{{ section.settings.custom_container_color_scheme }} dbtfy-color-{{ section.settings.container_color_scheme }} gradient"
            style="max-width: {{ section.settings.content_max_width }}px;"
          >
            {% content_for 'block', type: '_cta_block', id: 'cta_block' %}

            {% if section.settings.button_label != blank and section.settings.map_address != blank %}
              {% assign button_size = section.settings.button_size %}
              {% if button_size == 'inherit' %}
                {% assign button_size = settings.button_size %}
              {% endif %}
              <a
                href="https://maps.google.com?daddr={{ section.settings.map_address | escape }}"
                class="{{ section.settings.view_all_style }} {{ button_size }}"
                target="blank"
              >
                <span>
                  {% if section.settings.button_icon != blank %}
                    {% render 'material-icon', icon: section.settings.button_icon %}
                  {% endif %}
                  {{ section.settings.button_label }}
                </span>
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
      {% if section.settings.container_size == 'container' %}
        </div>
      {% endif %}
    </div>
    {% if dbtfy_map %}
      <script>
        function initMap() {
          var address = '{{ section.settings.map_address }}';
          var geocoder = new google.maps.Geocoder();

          geocoder.geocode({ address: address }, function (results, status) {
            if (status === 'OK') {
              var map = new google.maps.Map(document.querySelector('.dbtfy-map-location'), {
                zoom: 15,
                center: results[0].geometry.location,
              });
              var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location,
              });
            } else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
          });
        }
      </script>
    {% endif %}
  </dbtfy-map>
{% endif %}
{% schema %}
{
  "name": "t:sections.map.name",
  "settings": [
    {
      "type": "select",
      "id": "show_on",
      "label": "Show on ",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ],
      "default": "both"
    },
    {
      "type": "checkbox",
      "id": "show_content_box",
      "label": "t:sections.map.settings.show_content_box.label",
      "default": true
    },
    {
      "type": "range",
      "id": "content_max_width",
      "min": 200,
      "max": 700,
      "step": 10,
      "unit": "px",
      "label": "t:sections.map.settings.content_max_width.label",
      "default": 400
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:sections.all.container_size.label",
      "default": "container-full",
      "options": [
        { "value": "container", "label": "t:sections.all.button.options__2.label" },
        { "value": "container-full", "label": "t:sections.all.container_size.options__2.label" }
      ]
    },
    {
      "type": "textarea",
      "id": "map_address",
      "label": "t:sections.map.settings.map_address.label",
      "info": "t:sections.map.settings.map_address.info",
      "default": "t:sections.map.settings.map_address.default"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.map.settings.button_label.label",
      "default": "t:sections.map.settings.button_label.default"
    },
    {
      "type": "text",
      "id": "button_icon",
      "label": "t:sections.map.settings.button_icon.label",
      "info": "t:sections.map.settings.button_icon.info",
      "default": "t:sections.map.settings.button_icon.default"
    },

    {
      "type": "select",
      "id": "view_all_style",
      "label": "t:sections.all.button.label",
      "options": [
        {
          "value": "link underlined-link button--link",
          "label": "t:sections.all.button.options__1.label"
        },
        {
          "value": "button button--tertiary",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "button button--primary",
          "label": "t:sections.all.button.options__3.label"
        },
        {
          "value": "button button--secondary",
          "label": "t:sections.all.button.options__4.label"
        }
      ],
      "default": "button button--secondary"
    },
    {
      "type": "select",
      "id": "button_size",
      "default": "inherit",
      "label": "t:general.settings.size.label",
      "options": [
        { "value": "inherit", "label": "t:general.settings.size.option__1" },
        { "value": "button--small", "label": "t:general.settings.size.option__3" },
        { "value": "button--medium", "label": "t:general.settings.size.option__5" },
        { "value": "", "label": "t:general.settings.size.option__10" }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.map.settings.google_maps.content"
    },
    {
      "type": "text",
      "id": "api_key",
      "label": "t:sections.map.settings.api_key.label",
      "info": "t:sections.map.settings.api_key.info"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.map.settings.image.label"
    },
    {
      "type": "select",
      "id": "image_alignment",
      "label": "t:sections.map.settings.image_alignment.label",
      "default": "center-center",
      "options": [
        {
          "label": "t:general.settings.position.option__1",
          "value": "top-left"
        },
        {
          "label": "t:general.settings.position.option__2",
          "value": "top-center"
        },

        {
          "label": "t:general.settings.position.option__3",
          "value": "top-right"
        },
        {
          "label": "t:general.settings.position.option__4",
          "value": "center-left"
        },
        {
          "label": "t:general.settings.position.option__5",
          "value": "center-center"
        },
        {
          "label": "t:general.settings.position.option__6",
          "value": "center-right"
        },
        {
          "label": "t:general.settings.position.option__7",
          "value": "bottom-left"
        },
        {
          "label": "t:general.settings.position.option__8",
          "value": "bottom-center"
        },
        {
          "label": "t:general.settings.position.option__9",
          "value": "bottom-right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.container",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "container_color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-2"
    },
    {
      "type": "color_scheme",
      "id": "custom_container_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.section",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "none",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 24
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "none",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 24
    }
  ],

  "presets": [
    {
      "name": "t:sections.map.name",
      "blocks": [
        {
          "type": "_cta_block",
          "static": true,
          "id": "cta_block",
          "blocks": [
            {
              "type": "_title",
              "settings": {
                "title": "Our store",
                "alignment": "text-center",
                "padding___bottom": "custom",
                "custom_padding_bottom": 0
              }
            },
            {
              "type": "_description",
              "settings": {
                "description": "<p>123 Fake St.<br>Toronto, Canada</p><p>Mon - Fri, 10am - 9pm<br>Saturday, 11am - 9pm<br>Sunday, 11am - 5pm</p>",
                "alignment": "text-center"
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
