{% render 'widget-blocker',
  enabled: settings.dbtfy_ugc_carousel,
  section: section,
  name: 'UGC Carousel',
  type: '⚡ Paid Sections'
%}

{% if request.design_mode or settings.dbtfy_ugc_carousel %}
  {{ 'dbtfy-ugc-carousel.css' | asset_url | stylesheet_tag }}
  {% render 'section-padding', section: section %}
  <dbtfy-ugc-carousel
    data-loop="{{ section.settings.enable_loop }}"
    data-autoplay="{{ section.settings.enable_autoplay }}"
    data-autoplay-speed="{{ section.settings.autoplay_speed }}"
    data-dots="{{ section.settings.enable_dots }}"
    data-arrows="{{ section.settings.enable_arrows }}"
    data-slider-enabled="{{ section.settings.slider_on }}"
    data-slider-desktop-col="{{ section.settings.columns_desktop }}"
    data-slider-mobile-col="1"
  >
    <div class=" color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient show-on--{{ section.settings.show_on }} section-{{ section.id }}-padding">
      <div class="{{ section.settings.container_size }}">
        {% content_for 'block', type: '_heading', id: 'heading' %}
        {% content_for 'block', type: '_ugc_carousel', id: 'ugc_carousel' %}
      </div>
    </div>
  </dbtfy-ugc-carousel>

  <script src="{{ 'dbtfy-ugc-carousel.js' | asset_url }}"></script>
{% endif %}
{% schema %}
{
  "name": "t:sections.ugc-carousel.name",
  "settings": [
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:sections.all.container_size.label",
      "default": "page-width",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "page-full",
          "label": "t:sections.all.container_size.options__2.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.video.settings.enable_video_looping.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:general.settings.slider.slider_settings"
    },
    {
      "type": "select",
      "id": "slider_on",
      "default": "both",
      "label": "t:general.settings.slider.Enable_slider",
      "options": [
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        },
        {
          "value": "desktop",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.show_on.options__4.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "default": false,
      "label": "t:general.settings.slider.enable_autoplay"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:general.settings.slider.autoplay_speed",
      "default": 5,
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "enable_loop",
      "default": true,
      "label": "Loop",
      "info": "Continue from the last slide to the first slide"
    },
    {
      "type": "checkbox",
      "id": "enable_dots",
      "default": true,
      "label": "t:general.settings.slider.show_dots"
    },
    {
      "type": "checkbox",
      "id": "enable_arrows",
      "default": true,
      "label": "t:general.settings.slider.show_arrows"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "t:sections.ugc-carousel.name",
      "blocks": [
        {
          "type": "_heading",
          "static": true,
          "id": "heading",
          "blocks": [
            {
              "type": "_title",
              "settings": {
                "title": "Step Inside Our Shop",
                "alignment": "text-center"
              }
            }
          ]
        },
        {
          "type": "_ugc_carousel",
          "static": true,
          "id": "ugc_carousel",
          "blocks": [
            {
              "type": "_ugc_carousel-block"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
