{%- render 'widget-blocker',
  enabled: settings.dbtfy_featured_blog,
  section: section,
  name: 'Featured Blog',
  type: '⚡ Paid Sections'
-%}
{%- if request.design_mode or settings.dbtfy_featured_blog -%}
  <link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">

  {%- liquid
    if section.settings.container_size == 'page-width'
      assign page_width = true
    endif
  -%}
  {%- render 'section-padding', section: section -%}

  {%- liquid
    assign posts_displayed = section.settings.blog.articles_count
    if section.settings.post_limit <= section.settings.blog.articles_count or section.settings.post_limit <= 4
      assign posts_exceed_limit = true
      assign posts_displayed = section.settings.post_limit
    endif

    capture slider_parameters
      echo ' data-autoplay="' | append: section.settings.enable_autoplay | append: '"'
      echo ' data-speed="' | append: section.settings.autoplay_speed | append: '"'
      echo ' data-loop="' | append: section.settings.enable_loop | append: '"'
      echo ' data-dots="' | append: section.settings.enable_dots | append: '"'
      echo ' data-arrows="' | append: section.settings.enable_arrows | append: '"'
      echo ' data-controls-position="' | append: section.settings.control_position | append: '"'
    endcapture

    assign slider_on = 'slider slider--everywhere'
    if section.settings.slider_on == 'none'
      assign slider_on = ''
      assign slider_parameters = ''
    elsif section.settings.slider_on != 'both'
      assign slider_on = 'slider slider--' | append: section.settings.slider_on
    endif

    assign arrow_class = ''
    if section.settings.arrow_position == 'middle'
      assign arrow_class = 'slideshow__controls slideshow__controls--top'
    endif

    render 'custom-arrow-style'
  -%}
  <dbtfy-featured-blog>
    <div class="blog color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient show-on--{{ section.settings.show_on }}">
      <div class="{{ section.settings.container_size }}  section-{{ section.id }}-padding">
        <div class="title-wrapper--no-top-margin">
          {% content_for 'block', type: '_heading', id: 'heading' %}
          {%- if section.settings.blog != blank
            and section.settings.show_view_all
            and section.settings.post_limit < section.settings.blog.articles_count
          -%}
          {%- endif -%}
        </div>

        <dbtfy-slider-component
          class="slider-mobile-gutter{% if settings.animations_reveal_on_scroll and section.settings.slider_on == 'none' %} scroll-trigger animate--slide-in{% endif %}"
          {{ slider_parameters }}
        >
          <ul
            id="Slider-{{ section.id }}"
            class="{{ slider_on }} width-auto-adjusted blog__posts articles-wrapper contains-card contains-card--article{% if settings.blog_card_style == 'standard' %} contains-card--standard{% endif %} grid grid--2-col-tablet grid--{{ section.settings.columns_desktop }}-col-desktop"
            role="list"
          >
            {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
              {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
                <li
                  id="Slide-{{ section.id }}-{{ forloop.index }}"
                  class="blog__post grid__item article {% if settings.animations_reveal_on_scroll and section.settings.slider_on == 'none' %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll and section.settings.slider_on == 'none' %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {% render 'article-card',
                    blog: section.settings.blog,
                    article: article,
                    media_aspect_ratio: 'inherit',
                    show_image: section.settings.show_image,
                    show_date: section.settings.show_date,
                    show_author: section.settings.show_author,
                    show_excerpt: true,
                    image_crop_position: section.settings.image_crop_position
                  %}
                </li>
              {%- endfor -%}
            {%- else -%}
              {% for i in (1..section.settings.post_limit) -%}
                <li
                  id="Slide-{{ section.id }}-{{ forloop.index }}"
                  class="blog__post grid__item article {% if settings.animations_reveal_on_scroll and section.settings.slider_on == 'none' %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll and section.settings.slider_on == 'none' %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  <div class="article-card-wrapper card-wrapper{% if settings.animations_reveal_on_scroll and section.settings.slider_on == 'none' %} scroll-trigger animate--slide-in{% endif %}">
                    <div
                      class="
                        card article-card card--{{ settings.blog_card_style }}
                        {% if settings.blog_card_style == 'card' %} color-{{ settings.custom_blog_card_color_scheme }} dbtfy-color-{{ settings.blog_card_color_scheme }} gradient{% endif %}
                        {% if section.settings.show_image %} card--media{% else %} card--text{% endif %}
                      "
                      style=" {% if settings.blog_card_style == 'standard' %} --ratio-percent: 100%;{% elsif settings.blog_card_style == 'card' %} --ratio-percent: 0%;{% endif %}"
                    >
                      <div
                        class="card__inner{% if settings.blog_card_style == 'standard' %} color-{{ settings.custom_blog_card_color_scheme }} dbtfy-color-{{ settings.blog_card_color_scheme }} gradient{% endif %} ratio"
                        style="--ratio-percent: 80%;"
                      >
                        {%- if section.settings.show_image == true -%}
                          <div class="article-card__image-wrapper card__media">
                            <div class="article-card__image media">
                              {{ 'image' | placeholder_svg_tag: 'blog-placeholder-svg' }}
                            </div>
                          </div>
                        {%- endif -%}
                        <div class="card__content">
                          <div class="card__information">
                            <h3 class="card__heading h2">
                              {{ 'sections.featured_blog.onboarding_title' | t }}
                            </h3>
                            <p class="article-card__excerpt rte-width">
                              {{ 'sections.featured_blog.onboarding_content' | t }}
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card__content">
                        <div class="card__information">
                          <h3 class="card__heading h2">
                            {{ 'sections.featured_blog.onboarding_title' | t }}
                          </h3>
                          <div class="article-card__info caption-with-letter-spacing h5">
                            {%- if section.settings.show_date -%}
                              <span class="circle-divider">{{ 'now' | time_tag: format: 'date' }}</span>
                            {%- endif -%}
                            {%- if section.settings.show_author -%}
                              <span class="circle-divider">Author</span>
                            {%- endif -%}
                          </div>
                          <p class="article-card__excerpt rte-width">
                            {{ 'sections.featured_blog.onboarding_content' | t }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              {%- endfor -%}
            {%- endif -%}
          </ul>
          {%- if posts_exceed_limit and slider_on != '' -%}
            {% render 'dbtfy-arrow', class: arrow_class %}
          {%- endif -%}
        </dbtfy-slider-component>

        {%- if section.settings.show_view_all and section.settings.post_limit < section.settings.blog.articles_count -%}
          {% assign button_size = section.settings.button_size %}
          {% if button_size == 'inherit' %}
            {% assign button_size = settings.button_size %}
          {% endif %}
          <div
            class="blog__view-all center {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            <a
              href="{{ section.settings.blog.url }}"
              id="ViewAll-{{ section.id }}"
              class="{{ section.settings.button_style }} {{ button_size }}"
              aria-labelledby="ViewAll-{{ section.id }} SectionHeading-{{ section.id }}"
            >
              <span>
                {{ 'sections.featured_blog.view_all' | t }}
              </span>
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>
  </dbtfy-featured-blog>
{% endif %}
{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:sections.all.container_size.label",
      "default": "page-width",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "page-full",
          "label": "t:sections.all.container_size.options__2.label"
        }
      ]
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "default": "inherit",
      "label": "t:general.settings.style.image_ratio",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "56.25%",
          "label": "t:settings_schema.image_crop.ratio.options.option_1"
        },
        {
          "value": "66.666%",
          "label": "t:settings_schema.image_crop.ratio.options.option_2"
        },
        {
          "value": "75%",
          "label": "t:settings_schema.image_crop.ratio.options.option_3"
        },
        {
          "value": "100%",
          "label": "t:settings_schema.image_crop.ratio.options.option_4"
        },
        {
          "value": "133.33%",
          "label": "t:settings_schema.image_crop.ratio.options.option_5"
        },
        {
          "value": "150%",
          "label": "t:settings_schema.image_crop.ratio.options.option_6"
        },
        {
          "value": "circle",
          "label": "t:general.settings.style.circle"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_crop_position",
      "label": "t:settings_schema.image_crop.position",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "top left",
          "label": "t:general.settings.position.option__1"
        },
        {
          "value": "top center",
          "label": "t:general.settings.position.option__2"
        },
        {
          "value": "top right",
          "label": "t:general.settings.position.option__3"
        },
        {
          "value": "center left",
          "label": "t:general.settings.position.option__4"
        },
        {
          "value": "center center",
          "label": "t:general.settings.position.option__5"
        },
        {
          "value": "center right",
          "label": "t:general.settings.position.option__6"
        },
        {
          "value": "bottom left",
          "label": "t:general.settings.position.option__7"
        },
        {
          "value": "bottom center",
          "label": "t:general.settings.position.option__8"
        },
        {
          "value": "bottom right",
          "label": "t:general.settings.position.option__9"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.featured-blog.settings.show_view_all.button_label_style.label",
      "default": "button button--primary",
      "options": [
        {
          "value": "link underlined-link button--link",
          "label": "t:sections.all.button.options__1.label"
        },
        {
          "value": "button button--tertiary",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "button button--primary",
          "label": "t:sections.all.button.options__3.label"
        },
        {
          "value": "button button--secondary",
          "label": "t:sections.all.button.options__4.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "button_size",
      "default": "inherit",
      "label": "t:general.settings.size.label",
      "options": [
        { "value": "inherit", "label": "t:general.settings.size.option__1" },
        { "value": "button--small", "label": "t:general.settings.size.option__3" },
        { "value": "button--medium", "label": "t:general.settings.size.option__5" },
        { "value": "", "label": "t:general.settings.size.option__10" }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.header.blocks.blog.settings.header__2.content"
    },
    {
      "type": "range",
      "id": "description_word_count",
      "label": "t:sections.featured-blog.settings.word_count.label",
      "info": "t:sections.featured-blog.settings.word_count.info",
      "default": 20,
      "min": 5,
      "max": 50
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "t:sections.featured-blog.settings.show_tags",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_comments",
      "label": "t:sections.featured-blog.settings.show_comments",
      "default": true
    },
    {
      "type": "header",
      "content": "t:general.settings.slider.slider_settings"
    },
    {
      "type": "select",
      "id": "slider_on",
      "default": "both",
      "label": "t:general.settings.slider.Enable_slider",
      "options": [
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        },
        {
          "value": "desktop",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.show_on.options__4.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "default": false,
      "label": "t:general.settings.slider.enable_autoplay"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:general.settings.slider.autoplay_speed",
      "default": 5,
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "enable_loop",
      "default": true,
      "label": "Loop",
      "info": "Continue from the last slide to the first slide"
    },
    {
      "type": "checkbox",
      "id": "enable_dots",
      "default": true,
      "label": "t:general.settings.slider.show_dots"
    },
    {
      "type": "checkbox",
      "id": "enable_arrows",
      "default": true,
      "label": "t:general.settings.slider.show_arrows"
    },
    {
      "type": "select",
      "id": "arrow_color",
      "default": "inherit",
      "label": "t:general.settings.slider.arrow_color",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "color",
      "id": "custom_arrow_color",
      "label": "t:general.settings.slider.custom-arrow-color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "custom_arrow_background_color",
      "label": "t:general.settings.slider.custom-arrow-bg-color",
      "default": "#7559ff"
    },
    {
      "type": "select",
      "id": "arrow_position",
      "default": "bottom",
      "label": "Arrow position",
      "options": [
        {
          "value": "middle",
          "label": "t:general.settings.alignment.option__2"
        },
        {
          "value": "bottom",
          "label": "t:general.settings.alignment.option__3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.name",
      "blocks": [
        {
          "type": "_heading",
          "static": true,
          "id": "heading",
          "blocks": [{ "type": "_title", "settings": { "title": "Blog posts" } }]
        }
      ]
    }
  ]
}
{% endschema %}
