<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">

{% if section.settings.image_shape == 'blob' %}
  <link rel="stylesheet" href="{{ 'mask-blobs.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- unless section.settings.quick_add == 'none' and settings.dbtfy_quick_view == false -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% liquid
  if settings.dbtfy_variant_swatches and settings.show_product_card_variant_picker and section.settings.show_variant_swatches == 'inherit'
    assign show_variant_swatches = true
  endif
%}

{% if show_variant_swatches %}
  <link
    rel="stylesheet"
    href="{{ 'component-product-variant-picker.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
  <link rel="stylesheet" href="{{ 'component-swatch-input.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-swatch.css' | asset_url }}" media="print" onload="this.media='all'">
{% endif %}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- render 'section-padding', section: section -%}

{%- render 'widget-blocker',
  section: section,
  enabled: settings.dbtfy_collection_filters,
  type: 'Paid widgets',
  name: 'Collection filters'
-%}

{% liquid
  assign list_type = false
  if section.settings.display_type == 'list'
    assign list_type = true
  endif
%}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }}">
  {%- paginate collection.products by section.settings.products_per_page -%}
    {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
    {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
      <facet-filters-form class="facets facets-vertical-sort page-width small-hide filter-vertical">
        <form class="facets-vertical-form" id="FacetSortForm">
          <div class="facet-filters sorting caption">
            <div class="facet-filters__field">
              <h2 class="facet-filters__label caption-large text-body">
                <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
              </h2>
              <div class="select">
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <select
                  name="sort_by"
                  class="facet-filters__sort select__select caption-large"
                  id="SortBy"
                  aria-describedby="a11y-refresh-page-message"
                >
                  {%- for option in collection.sort_options -%}
                    <option
                      value="{{ option.value | escape }}"
                      {% if option.value == sort_by %}
                        selected="selected"
                      {% endif %}
                    >
                      {{ option.name | escape }}
                    </option>
                  {%- endfor -%}
                </select>
                <span class="svg-wrapper">
                  {{- 'icon-caret.svg' | inline_asset_content -}}
                </span>
              </div>
            </div>
          </div>

          <div class="product-count-vertical light" role="status">
            <h2 class="product-count__text text-body">
              <span id="ProductCountDesktop">
                {%- if collection.results_count -%}
                  {{
                    'templates.search.results_with_count'
                    | t: terms: collection.terms, count: collection.results_count
                  }}
                {%- elsif collection.products_count == collection.all_products_count -%}
                  {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                {%- else -%}
                  {{
                    'products.facets.product_count'
                    | t: product_count: collection.products_count, count: collection.all_products_count
                  }}
                {%- endif -%}
              </span>
            </h2>
            {%- render 'loading-spinner' -%}
          </div>
        </form>
      </facet-filters-form>
    {%- endif -%}

    <div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
      {{ 'nouislider.min.css' | asset_url | stylesheet_tag: preload: true }}
      {{ 'component-facets.css' | asset_url | stylesheet_tag: preload: true }}
      <script src="{{ 'nouislider.min.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
      {%- if settings.dbtfy_collection_filters or section.settings.enable_sorting -%}
        <dbtfy-collection-filters>
          <aside
            aria-labelledby="verticalTitle"
            class="facets-wrapper{% unless settings.dbtfy_collection_filters %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
            id="main-collection-filters"
            data-id="{{ section.id }}"
          >
            {% render 'facets',
              results: collection,
              enable_filtering: settings.dbtfy_collection_filters,
              enable_sorting: section.settings.enable_sorting,
              filter_type: section.settings.filter_type,
              paginate: paginate,
              unavailable_options: section.settings.show_unavailable_options,
              products_count_visibility: section.settings.filters_products_count_visibility
            %}
          </aside>
        </dbtfy-collection-filters>
      {%- endif -%}

      <div
        class="collection-list collection-type-{{ section.settings.display_type }} product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        id="ProductGridContainer"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div
            class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          >
            <div class="loading-overlay gradient"></div>
            <ul
              id="product-grid"
              data-id="{{ section.id }}"
              class="
                grid product-grid
                {% if section.settings.display_type == "list" %}
                  grid--1-col
                {% else %}
                  grid--{{ section.settings.columns_desktop }}-col-desktop
                  grid--{{ section.settings.columns_mobile }}-col
                {% endif %}
                {% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %}
              "
            >
              {% assign skip_card_product_styles = false %}

              {%- for product in collection.products -%}
                <li
                  class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    image_crop_position: section.settings.image_crop_position,
                    image_shape: section.settings.image_shape,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_carousel: section.settings.show_carousel,
                    show_vendor: section.settings.show_vendor,
                    show_variant_picker: show_variant_swatches,
                    show_rating: section.settings.show_rating,
                    show_description: section.settings.show_description,
                    skip_styles: skip_card_product_styles,
                    quick_add: section.settings.quick_add,
                    section_id: section.id,
                    list_type: list_type
                  %}
                </li>
                {%- assign skip_card_product_styles = true -%}
              {%- endfor -%}
            </ul>

            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '' %}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endpaginate -%}
  {% if section.settings.image_shape == 'arch' %}
    {{ 'mask-arch.svg' | inline_asset_content }}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 36,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "display_type",
      "default": "grid",
      "label": "t:sections.featured-collection.settings.display-type.label.",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.featured-collection.settings.display-type.options__1"
        },
        {
          "value": "list",
          "label": "t:sections.featured-collection.settings.display-type.options__3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "default": "inherit",
      "label": "t:general.settings.style.image_ratio",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "56.25%",
          "label": "t:settings_schema.image_crop.ratio.options.option_1"
        },
        {
          "value": "66.666%",
          "label": "t:settings_schema.image_crop.ratio.options.option_2"
        },
        {
          "value": "75%",
          "label": "t:settings_schema.image_crop.ratio.options.option_3"
        },
        {
          "value": "100%",
          "label": "t:settings_schema.image_crop.ratio.options.option_4"
        },
        {
          "value": "133.33%",
          "label": "t:settings_schema.image_crop.ratio.options.option_5"
        },
        {
          "value": "150%",
          "label": "t:settings_schema.image_crop.ratio.options.option_6"
        },
        {
          "value": "circle",
          "label": "t:general.settings.style.circle"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_crop_position",
      "label": "t:settings_schema.image_crop.position",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "top left",
          "label": "t:general.settings.position.option__1"
        },
        {
          "value": "top center",
          "label": "t:general.settings.position.option__2"
        },
        {
          "value": "top right",
          "label": "t:general.settings.position.option__3"
        },
        {
          "value": "center left",
          "label": "t:general.settings.position.option__4"
        },
        {
          "value": "center center",
          "label": "t:general.settings.position.option__5"
        },
        {
          "value": "center right",
          "label": "t:general.settings.position.option__6"
        },
        {
          "value": "bottom left",
          "label": "t:general.settings.position.option__7"
        },
        {
          "value": "bottom center",
          "label": "t:general.settings.position.option__8"
        },
        {
          "value": "bottom right",
          "label": "t:general.settings.position.option__9"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "select",
      "default": "inherit",
      "id": "show_secondary_image",
      "label": "t:sections.all.show_secondary_image.label",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "disabled",
          "label": "t:sections.all.options.options__2.label"
        }
      ]
    },
    {
      "type": "select",
      "default": "inherit",
      "id": "show_carousel",
      "label": "t:sections.all.show_carousel.label",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "disabled",
          "label": "t:sections.all.options.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_description.label"
    },
    {
      "type": "select",
      "id": "show_variant_swatches",
      "label": "t:sections.featured-collection.settings.show_variant_swatches",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "disabled",
          "label": "t:sections.all.options.options__2.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "standard",
          "label": "t:general.settings.type.option__1"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:general.settings.alignment.option__10"
        },
        {
          "value": "vertical",
          "label": "t:general.settings.alignment.option__11"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "text",
      "id": "icon_filter",
      "label": "t:sections.main-collection-product-grid.settings.filter_icon.label",
      "default": "filter_alt",
      "info": "t:general.settings.icon_info"
    },
    {
      "type": "checkbox",
      "id": "show_unavailable_options",
      "label": "t:sections.main-collection-product-grid.settings.unavailable_option",
      "default": true
    },
    {
      "type": "select",
      "id": "filters_products_count_visibility",
      "label": "t:sections.main-collection-product-grid.settings.filter_count.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.filter_count.options__1"
        },
        {
          "value": "all",
          "label": "t:sections.main-collection-product-grid.settings.filter_count.options__2"
        },
        {
          "value": "only_available",
          "label": "t:sections.main-collection-product-grid.settings.filter_count.options__3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
