{%- render 'widget-blocker',
  section: section,
  enabled: settings.dbtfy_newsletter,
  type: '🎁 Free widgets',
  name: 'Newsletter'
-%}
{%- liquid
  assign overlay_opacity = section.settings.overlay_opacity
  assign is_mute = section.settings.is_mute
  assign is_autoplay = section.settings.is_autoplay
  assign media_image = section.settings.image
  assign media_video = section.settings.video
  assign video_link = section.settings.video_link
  assign video_position = section.settings.video_position
  assign video_position_mobile = section.settings.video_position_mobile

  assign is_media = false

  if media_image != blank or media_video != blank or video_link != blank
    assign is_media = true
  endif

  assign controls = true
  if video_position == 'background'
    assign controls = false
    assign is_autoplay = true
    assign is_mute = true
  endif

  assign ratio = '56.25%'
  case section.settings.video_height
    when 'small'
      assign ratio = '43.25%'
    when 'medium'
      assign ratio = '56.25%'
    when 'large'
      assign ratio = '100%'
  endcase

  assign ratio_mobile = '56.25%'
  case section.settings.video_height_mobile
    when 'small'
      assign ratio_mobile = '43.25%'
    when 'medium'
      assign ratio_mobile = '56.25%'
    when 'large'
      assign ratio_mobile = '100%'
  endcase
%}
{% style %}
  #shopify-section-{{ section.id }} .dbtfy-newsletter__media--image:after {
    opacity: {{ overlay_opacity | times: 0.01 }};
  }

  @media (max-width: 990px) {
    #shopify-section-{{ section.id }} .dbtfy-newsletter-mobile--background .dbtfy-newsletter-media.deferred-media{
      position: unset;
      padding-bottom:0;
    }
    #shopify-section-{{ section.id }} .dbtfy-newsletter-media.deferred-media {
      --ratio-percent: {{ ratio_mobile }};
    }
  }

  @media (min-width: 991px) {
    #shopify-section-{{ section.id }} .dbtfy-newsletter-media.deferred-media {
      --ratio-percent: {{ ratio }};
    }
    #shopify-section-{{ section.id }} .dbtfy-newsletter--background .dbtfy-newsletter-media.deferred-media{
      position: unset;
      padding-bottom:0;
    }
  }
{% endstyle %}
{% if request.design_mode or settings.dbtfy_newsletter %}
  <link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'newsletter-section.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'video-section.css' | asset_url }}" media="print" onload="this.media='all'">
  <link
    rel="stylesheet"
    href="{{ 'component-deferred-media.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
  <link rel="stylesheet" href="{{ 'dbtfy-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
  {% render 'section-padding', section: section %}

  <div class="newsletter center show-on--{{ section.settings.show_on }} {% if section.settings.full_width == false %}newsletter--narrow page-width{% endif %}">
    <div class="newsletter__wrapper color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient content-container {% if section.settings.full_width %} content-container--full-width{% endif %} section-{{ section.id }}-padding">
      <div class="grid {% if is_media %}grid--2-col-tablet grid--2-col-desktop dbtfy-newsletter--{{ video_position }} dbtfy-newsletter-mobile--{{ video_position_mobile }}{% endif %} grid--1-col">
        {% if is_media %}
          <div class="grid__item dbtfy-newsletter__media {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {% liquid
              assign video_id = media_video.id | default: video_link.id
              assign video_alt = media_video.alt
              assign alt = 'sections.video.load_video' | t: description: video_alt | escape
              assign poster = media_video.preview_image
            %}
            <div class="dbtfy-newsletter__media--image">
              {% if media_video != blank or video_link != blank %}
                <deferred-media
                  class="dbtfy-newsletter-media deferred-media gradient global-media-settings video-section__media media-fit-cover media"
                  data-media-id="{{ video_id }}"
                >
                  {%- if media_video == null and video_link != null -%}
                    {%- if video_link.type == 'youtube' -%}
                      <iframe
                        src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&controls={{ controls }}&autoplay={{ is_autoplay }}&mute={{ is_mute }}&loop=1&playlist={{ video_id }}"
                        class="js-youtube"
                        allow="autoplay; encrypted-media"
                        allowfullscreen
                        title="{{ alt | escape }}"
                      ></iframe>
                    {%- else -%}
                      <iframe
                        src="https://player.vimeo.com/video/{{ video_id }}?controls={{ controls }}&autoplay={{ is_autoplay }}&mute={{ is_mute }}&loop=1&playlist={{ video_id }}"
                        class="js-vimeo"
                        allow="autoplay; encrypted-media"
                        allowfullscreen
                        title="{{ alt | escape }}"
                      ></iframe>
                    {%- endif -%}
                  {%- else -%}
                    {{
                      media_video
                      | video_tag:
                        image_size: '1100x',
                        loop: true,
                        controls: controls,
                        poster: poster,
                        autoplay: is_autoplay,
                        muted: is_mute
                    }}
                  {% endif %}
                </deferred-media>
              {% elsif media_image != blank %}
                <div
                  class="dbtfy-newsletter-media dbtfy-newsletter-image global-media-settings background-transparent media"
                >
                  {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                  {%- capture sizes -%}
                          (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                          (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                      {%- endcapture -%}
                  {{
                    media_image
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, widths: widths, fetchpriority: 'high'
                  }}
                </div>
              {% else %}
                <div
                  class="dbtfy-newsletter-media global-media-settings background-transparent placeholder"
                  style="aspect-ratio: 1"
                >
                  {{- 'image' | placeholder_svg_tag: 'placeholder-svg' -}}
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
        <div class="grid__item dbtfy-newsletter__rte align-self-center">
          {% content_for 'block', type: '_heading', id: 'heading' %}
          {% content_for 'block', type: '_newsletter-block', id: 'newsletter' %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.newsletter.settings.full_width.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.header.media.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:general.settings.image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.video.label",
      "info": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.video.info"
    },
    {
      "type": "video_url",
      "id": "video_link",
      "label": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.video_link.label",
      "info": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.video_link.info",
      "accept": ["youtube", "vimeo"]
    },
    {
      "type": "checkbox",
      "id": "is_autoplay",
      "label": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.auto_play.label",
      "info": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.auto_play.info"
    },
    {
      "type": "checkbox",
      "id": "is_mute",
      "label": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.mute.label",
      "info": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.mute.info",
      "default": true
    },
    {
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "id": "overlay_opacity",
      "label": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.overlay_opacity.label",
      "info": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.overlay_opacity.info",
      "default": 50
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.header.desktop_media.label"
    },
    {
      "type": "select",
      "id": "video_height",
      "label": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.video_height.label",
      "info": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.video_height.info",
      "options": [
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        }
      ]
    },
    {
      "type": "select",
      "id": "video_position",
      "label": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.video_position_desktop.label",
      "info": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.video_position_desktop.info",
      "options": [
        {
          "value": "background",
          "label": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.video_position_desktop.options__1.label"
        },
        {
          "value": "top",
          "label": "t:general.settings.alignment.option__1"
        },
        {
          "value": "bottom",
          "label": "t:general.settings.alignment.option__3"
        },
        {
          "value": "left",
          "label": "t:general.settings.alignment.option__4"
        },
        {
          "value": "right",
          "label": "t:general.settings.alignment.option__6"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.header.mobile_media.label"
    },
    {
      "type": "select",
      "id": "video_height_mobile",
      "label": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.video_height_mobile.label",
      "info": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.video_height_mobile.info",
      "options": [
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        }
      ]
    },
    {
      "type": "select",
      "id": "video_position_mobile",
      "label": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.video_position_mobile.label",
      "info": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.video_position_mobile.info",
      "options": [
        {
          "value": "background",
          "label": "t:sections.dbtfy-footer.blocks.newsletter.settings.media_setting.video_position_mobile.options__1.label"
        },
        {
          "value": "top",
          "label": "t:general.settings.alignment.option__1"
        },
        {
          "value": "bottom",
          "label": "t:general.settings.alignment.option__3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.name",
      "blocks": [
        {
          "type": "_heading",
          "static": true,
          "id": "heading",
          "blocks": [
            {
              "type": "_title",
              "settings": {
                "title": "Subscribe to our emails",
                "alignment": "text-center",
                "padding___bottom": "custom",
                "custom_padding_bottom": 0
              }
            },
            {
              "type": "_description",
              "settings": {
                "description": "<p>Be the first to know about new collections and exclusive offers.</p>",
                "alignment": "text-center"
              }
            }
          ]
        },
        {
          "type": "_newsletter-block",
          "static": true,
          "id": "newsletter"
        }
      ]
    }
  ]
}
{% endschema %}
