{%- render 'widget-blocker',
  enabled: settings.dbtfy_related_products,
  section: section,
  name: 'Related products',
  type: '⚡ Paid Sections'
-%}
{%- if request.design_mode or settings.dbtfy_related_products -%}
  <link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link
    rel="stylesheet"
    href="{{ 'section-related-products.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
  {% if section.settings.image_shape == 'blob' %}
    <link rel="stylesheet" href="{{ 'mask-blobs.css' | asset_url }}" media="print" onload="this.media='all'">
  {%- endif -%}

  {% render 'section-padding', section: section %}
  <dbtfy-related-products>
    <div class="section-{{ section.id }}-padding color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient">
      <product-recommendations
        class="related-products page-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        data-url="{{ routes.product_recommendations_url }}?limit={{ section.settings.products_to_show }}"
        data-section-id="{{ section.id }}"
        data-product-id="{{ product.id }}"
      >
        {% if recommendations.performed and recommendations.products_count > 0 %}
          {% content_for 'block', type: '_heading', id: 'heading' %}
          <ul
            class="grid product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col"
            role="list"
          >
            {% assign skip_card_product_styles = false %}
            {% for recommendation in recommendations.products %}
              <li class="grid__item">
                {% render 'card-product',
                  card_product: recommendation,
                  media_aspect_ratio: section.settings.image_ratio,
                  image_crop_position: section.settings.image_crop_position,
                  image_shape: section.settings.image_shape,
                  show_secondary_image: section.settings.show_secondary_image,
                  show_carousel: section.settings.show_carousel,
                  show_vendor: section.settings.show_vendor,
                  show_rating: section.settings.show_rating,
                  quick_add: section.settings.quick_add,
                  skip_styles: skip_card_product_styles
                %}
              </li>
              {%- assign skip_card_product_styles = true -%}
            {% endfor %}
          </ul>
        {% endif %}
        {% if section.settings.image_shape == 'arch' %}
          {{ 'mask-arch.svg' | inline_asset_content }}
        {%- endif -%}
      </product-recommendations>
    </div>
  </dbtfy-related-products>
{% endif %}

{% schema %}
{
  "name": "t:sections.related-products.name",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.related-products.settings.paragraph__1.content"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.related-products.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "default": "inherit",
      "label": "t:general.settings.style.image_ratio",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "56.25%",
          "label": "t:settings_schema.image_crop.ratio.options.option_1"
        },
        {
          "value": "66.666%",
          "label": "t:settings_schema.image_crop.ratio.options.option_2"
        },
        {
          "value": "75%",
          "label": "t:settings_schema.image_crop.ratio.options.option_3"
        },
        {
          "value": "100%",
          "label": "t:settings_schema.image_crop.ratio.options.option_4"
        },
        {
          "value": "133.33%",
          "label": "t:settings_schema.image_crop.ratio.options.option_5"
        },
        {
          "value": "150%",
          "label": "t:settings_schema.image_crop.ratio.options.option_6"
        },
        {
          "value": "circle",
          "label": "t:general.settings.style.circle"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_crop_position",
      "label": "t:settings_schema.image_crop.position",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "top left",
          "label": "t:general.settings.position.option__1"
        },
        {
          "value": "top center",
          "label": "t:general.settings.position.option__2"
        },
        {
          "value": "top right",
          "label": "t:general.settings.position.option__3"
        },
        {
          "value": "center left",
          "label": "t:general.settings.position.option__4"
        },
        {
          "value": "center center",
          "label": "t:general.settings.position.option__5"
        },
        {
          "value": "center right",
          "label": "t:general.settings.position.option__6"
        },
        {
          "value": "bottom left",
          "label": "t:general.settings.position.option__7"
        },
        {
          "value": "bottom center",
          "label": "t:general.settings.position.option__8"
        },
        {
          "value": "bottom right",
          "label": "t:general.settings.position.option__9"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "select",
      "default": "inherit",
      "id": "show_secondary_image",
      "label": "t:sections.all.show_secondary_image.label",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "disabled",
          "label": "t:sections.all.options.options__2.label"
        }
      ]
    },
    {
      "type": "select",
      "default": "inherit",
      "id": "show_carousel",
      "label": "t:sections.all.show_carousel.label",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "disabled",
          "label": "t:sections.all.options.options__2.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "standard",
          "label": "t:general.settings.type.option__1"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.related-products.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": true,
      "label": "t:sections.related-products.settings.show_rating.label",
      "info": "t:sections.related-products.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.related-products.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.related-products.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.related-products.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.related-products.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-2"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.related-products.name",
      "blocks": [
        {
          "type": "_heading",
          "static": true,
          "id": "heading",
          "blocks": [{ "type": "_title", "settings": { "title": "Related products" } }]
        }
      ]
    }
  ]
}
{% endschema %}
