{%- render 'widget-blocker',
  enabled: settings.dbtfy_rich_text,
  section: section,
  name: 'Rich text',
  type: '⚡ Paid Sections'
-%}

{%- if section.settings.container_size contains 'custom' -%}
  {%- style -%}
    #section__{{ section.id }} .page-width{ --page-width: {{ section.settings.custom_container_size }}px; }
  {%- endstyle -%}
{%- endif -%}

{% if request.design_mode or settings.dbtfy_rich_text %}
  <dbtfy-rich-text>
    <link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

    {% render 'section-padding', section: section %}
    <div
      class="show-on--{{section.settings.show_on}} color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient"
      id="section__{{ section.id }}"
    >
      <div
        class="isolate"
      >
        <div class="rich-text section-{{ section.id }}-padding">
          <div class="{{ section.settings.container_size }} rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }} rich-text--{{ section.settings.container_size }}">
            <div>
              {% content_for 'blocks' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </dbtfy-rich-text>
{% endif %}

{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:sections.all.container_size.label",
      "default": "page-full",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "page-full",
          "label": "t:sections.all.container_size.options__2.label"
        },
        {
          "value": "custom page-width",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_container_size",
      "label": "t:sections.all.container_size.custom_label",
      "default": 1600,
      "min": 700,
      "max": 1600,
      "step": 30,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:general.settings.alignment.option__4"
        },
        {
          "value": "center",
          "label": "t:general.settings.alignment.option__5"
        },
        {
          "value": "right",
          "label": "t:general.settings.alignment.option__6"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label",
      "info": "t:sections.rich-text.settings.desktop_content_position.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.all.color_schemes.default.options__3.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.header.content"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:sections.all.padding_section.padding.padding_top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:sections.all.padding_section.padding.padding_bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "_caption"
    },
    {
      "type": "_title"
    },
    {
      "type": "_subtitle"
    },
    {
      "type": "_description"
    },
    {
      "type": "_double_button"
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.name",
      "blocks": [
        {
          "type": "_title",
          "settings": {
            "title": "Talk about your brand",
            "alignment": "text-center",
            "padding___top": "custom",
            "custom_padding_top": 0,
            "padding___bottom": "custom",
            "custom_padding_bottom": 0
          }
        },
        {
          "type": "_description",
          "settings": {
            "description": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
            "alignment": "text-center"
          }
        },
        {
          "type": "_double_button",
          "settings": {
            "button_label_1": "Button label",
            "button_label_2": "",
            "alignment": "justify-content-center"
          }
        }
      ]
    }
  ]
}
{% endschema %}
