{%- render 'widget-blocker',
  enabled: settings.dbtfy_slideshow,
  section: section,
  name: 'Slideshow',
  type: '⚡ Paid Sections'
-%}
{%- if request.design_mode or settings.dbtfy_slideshow -%}
  {%- liquid
    assign slider_on = 'slider slider--everywhere'

    capture slider_parameters
      echo ' data-autoplay="' | append: section.settings.enable_autoplay | append: '"'
      echo ' data-speed="' | append: section.settings.autoplay_speed | append: '"'
      echo ' data-loop="' | append: section.settings.enable_loop | append: '"'
      echo ' data-dots="' | append: section.settings.enable_dots | append: '"'
      echo ' data-arrows="' | append: section.settings.enable_arrows | append: '"'
      echo ' data-controls-position="' | append: section.settings.control_position | append: '"'
    endcapture

    assign arrow_class = ''
    if section.settings.arrow_position == 'middle'
      assign arrow_class = 'slideshow__controls slideshow__controls--top'
    endif

    render 'custom-arrow-style'
  %}

  {{ 'section-double-image-banner.css' | asset_url | stylesheet_tag: preload: true }}
  {{ 'component-slider.css' | asset_url | stylesheet_tag: preload: true }}
  {{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

  {%- if section.settings.slide_height == 'adapt_image' and section.blocks.first.settings.image != blank -%}
    {%- style -%}
      @media screen and (max-width: 749px) {
        #Slider-{{ section.id }}::before,
        #Slider-{{ section.id }} .media::before,
        #Slider-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
          padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
          content: '';
          display: block;
        }
      }

      @media screen and (min-width: 750px) {
        #Slider-{{ section.id }}::before,
        #Slider-{{ section.id }} .media::before {
          padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
          content: '';
          display: block;
        }
      }
    {%- endstyle -%}
  {%- endif -%}

  {% if section.blocks.size == 1 %}
    {%- style -%}
      #Slider-{{ section.id }}.slideshow.banner{
          flex-wrap: nowrap;
          overflow:hidden;
      }
    {%- endstyle -%}
  {% endif %}

  {% if section.settings.show_text_below != 'bottom' %}
    {%- style -%}
      @media (min-width:750px){
        #Slider-{{ section.id }} .first-section-mobile-padding{
            padding-top:4rem!important;
          }
      }
    {%- endstyle -%}
  {% endif %}

  <dbtfy-slideshow>
    <dbtfy-slider-component
      {{ slider_parameters }}
      class="slider-mobile-gutter {{ section.settings.container_size }} show-on--{{section.settings.show_on}}"
      role="region"
      aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
      aria-label="{{ section.settings.accessibility_info | escape }}"
    >
      <div
        class="{% if section.blocks.size > 1 %}{{ slider_on }}{% endif %} slideshow banner banner--{{ section.settings.slide_height }} banner-height-both banner--{{ section.settings.slide_height_mobile }}-mobile  grid grid--1-col banner--mobile-{{ section.settings.show_text_below }} {% if section.blocks.first.settings.image == blank %} slideshow--placeholder{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
        id="Slider-{{ section.id }}"
        aria-live="polite"
        aria-atomic="true"
      >
        {% content_for 'blocks' %}
      </div>
      {% if section.blocks.size > 1 %}
        {% render 'dbtfy-arrow', class: arrow_class %}
      {% endif %}
    </dbtfy-slider-component>
  </dbtfy-slideshow>

  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
{% endif %}
{% schema %}
{
  "name": "t:sections.slideshow.name",
  "tag": "section",
  "class": "section slideshow",
  "settings": [
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:sections.all.container_size.label",
      "default": "",
      "options": [
        {
          "value": "page-width",
          "label": "t:sections.all.button.options__2.label"
        },
        {
          "value": "",
          "label": "t:sections.all.container_size.options__2.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.slideshow.settings.slide_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        }
      ],
      "default": "medium",
      "label": "t:sections.slideshow.settings.slide_height.desktop_label"
    },
    {
      "type": "select",
      "id": "slide_height_mobile",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.slideshow.settings.slide_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:general.settings.size.option__3"
        },
        {
          "value": "medium",
          "label": "t:general.settings.size.option__5"
        },
        {
          "value": "large",
          "label": "t:general.settings.size.option__6"
        }
      ],
      "default": "medium",
      "label": "t:sections.slideshow.settings.slide_height.mobile_label"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:general.settings.size.option__2"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "show_text_below",
      "label": "t:sections.slideshow.settings.show_text_below.label",
      "default": "bottom",
      "options": [
        {
          "value": "bottom position--top",
          "label": "Above"
        },
        {
          "value": "bottom",
          "label": "Below"
        },
        {
          "value": "inside",
          "label": "Inside"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.settings.slider.slider_settings"
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "default": false,
      "label": "t:general.settings.slider.enable_autoplay"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:general.settings.slider.autoplay_speed",
      "default": 5,
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "enable_loop",
      "default": true,
      "label": "Loop",
      "info": "Continue from the last slide to the first slide"
    },
    {
      "type": "checkbox",
      "id": "enable_dots",
      "default": true,
      "label": "t:general.settings.slider.show_dots"
    },
    {
      "type": "checkbox",
      "id": "enable_arrows",
      "default": false,
      "label": "t:general.settings.slider.show_arrows"
    },
    {
      "type": "select",
      "id": "arrow_color",
      "default": "inherit",
      "label": "t:general.settings.slider.arrow_color",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "color",
      "id": "custom_arrow_color",
      "label": "t:general.settings.slider.custom-arrow-color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "custom_arrow_background_color",
      "label": "t:general.settings.slider.custom-arrow-bg-color",
      "default": "#7559ff"
    },
    {
      "type": "select",
      "id": "arrow_position",
      "default": "bottom",
      "label": "Arrow position",
      "options": [
        {
          "value": "middle",
          "label": "t:general.settings.alignment.option__2"
        },
        {
          "value": "bottom",
          "label": "t:general.settings.alignment.option__3"
        }
      ]
    },
    {
      "type": "select",
      "id": "control_position",
      "default": "inside",
      "label": "Control Position",
      "options": [
        {
          "value": "outside",
          "label": "Outside"
        },
        {
          "value": "inside",
          "label": "Inside"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.accessibility.content"
    },
    {
      "type": "text",
      "id": "accessibility_info",
      "label": "t:sections.slideshow.settings.accessibility.label",
      "info": "t:sections.slideshow.settings.accessibility.info",
      "default": "t:sections.slideshow.settings.accessibility.default"
    }
  ],
  "blocks": [
    {
      "type": "_slideshow-item"
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.name",
      "blocks": [
        {
          "type": "_slideshow-item",
          "settings": {
            "image_overlay_opacity": 40
          },
          "blocks": [
            {
              "type": "_title",
              "settings": {
                "title": "Image slide",
                "size": "h1",
                "alignment": "text-center",
                "padding___bottom": "custom",
                "custom_padding_bottom": 0
              }
            },
            {
              "type": "_description",
              "settings": {
                "description": "<p>Tell your brand's story through images</p>",
                "alignment": "text-center",
                "padding___top": "custom",
                "custom_padding_top": 0,
                "padding___bottom": "custom",
                "custom_padding_bottom": 0
              }
            },
            {
              "type": "_double_button",
              "settings": { "button_style_1": "button button--tertiary", "alignment": "justify-content-center" }
            }
          ]
        },
        {
          "type": "_slideshow-item",
          "settings": {
            "image_overlay_opacity": 40
          },
          "blocks": [
            {
              "type": "_title",
              "settings": {
                "title": "Image slide",
                "size": "h1",
                "alignment": "text-center",
                "padding___bottom": "custom",
                "custom_padding_bottom": 0
              }
            },
            {
              "type": "_description",
              "settings": {
                "description": "<p>Tell your brand's story through images</p>",
                "alignment": "text-center",
                "padding___top": "custom",
                "custom_padding_top": 0,
                "padding___bottom": "custom",
                "custom_padding_bottom": 0
              }
            },
            {
              "type": "_double_button",
              "settings": { "button_style_1": "button button--tertiary", "alignment": "justify-content-center" }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
